{% extends "arachne-ap_en.j2" %}

{% block respecconfig %}

    var respecConfig = {
      postProcess: [quickreference],
      edDraftURI: "{{metadata.navigation.self}}",
      latestVersion: "{{metadata.navigation.prev}}",
      specStatus: "LD",
      publishDate: "{{ metadata.issued }}",
      editors: myeditors,
      authors: myauthors,
      github: "SEMICeu/ADM",
      shortName: "{{metadata.title}}",
      xref: "web-platform",
      doJsonLd: true,
      logos: [{
        src: "https://semiceu.github.io/Core-Person-Vocabulary/releases/2.1.1/html/semic-icon.png",
        url: "https://semic.eu",
        alt: "SEMIC",
        width: 154,
        height: 140,
        id: "semic-logo",
      },],
      generatedSubtitle: "",
      additionalCopyrightHolders: "",
      localBiblio: {
        "DXWG": {
          "href" : "https://www.w3.org/2017/dxwg/wiki/Main_Page",
          "title" : "Dataset Exchange Working Group",
          "publisher" : "W3C"
          },
        "ISA":{
           "href":"https://ec.europa.eu/isa/",
           "title":"Interoperability Solutions for European Public Administrations (ISA)",
           "publisher":"European Commission"
          },
        "ISA2":{
          "href":"https://ec.europa.eu/isa2/",
          "title":"Interoperability solutions for public administrations, businesses and citizens (ISA²)",
          "publisher":"European Commission"
        },
        "SEMIC":{
          "href":"https://joinup.ec.europa.eu/",
          "title":"JoinUp welcomes Interoperable Europe",
          "publisher":"European Commission"
         },
        "DEU" : {
          "href":"https://data.europa.eu",
          "title":"The official portal for European data",
          "publisher":"European Commission"
        },
		"HVD" : {
		  "href":"https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32023R0138",
		  "title":"Implementing Regulation for High Value Datasets",
		  "publisher":"European Union"
		},
		"DCAT-AP-HVD" : {
		  "href":"https://semiceu.github.io/uri.semic.eu-generated/DCAT-AP/releases/2.2.0-hvd/",
		  "title":"Usage Guidelines of DCAT-AP for High-Value Datasets",
		  "publisher":"European Commission"
		},
                "PSI" : {
                  "href": "https://eur-lex.europa.eu/eli/dir/2019/1024/oj",
                  "title" :  "Directive on open data and the re-use of public sector information (recast)",
                  "publisher" : "European Union"
                }
      }
    };

{% endblock %}


{% block introduction %}
	<p>
	The Arachne Data Model (ADM) provides a minimum set of classes and properties for
    describing a project with a contract. This model is being created by SEMIC to support the Arachne project by drafting a semantic model before writing technical artefacts.
</p>
{% endblock %}

{% block summary %}
<section id="abstract">
    <h2>Abstract</h2>
	The Arachne Data Model (ADM) provides a minimum set of classes and properties for
    describing a project with a contract.
</section>
{% endblock %}

{% block examples %}
<h3 class="h3 examples" id="example-rdf_project">Example Project</h3>
<h3 class="h3 examples" id="example-rdf_contract">Example Contract</h3>
<h3 class="h3 examples" id="example-rdf_subcontract">Example Subcontract</h3>
{% endblock %}

{% block terminologyPrefixes %}
This specification uses the following prefixes to shorten the URIs for readability.

        <table id="table-namespaces" class="simple">
            <thead><tr><th>Prefix</th><th>Namespace IRI</th></tr></thead>
            <tbody>
            <tr><td><code>adm</code></td><td><code>https://w3id.org/adm/model/</code></td></tr>
            <tr><td><code>adms</code></td><td><code>http://www.w3.org/ns/adms#</code></td></tr>
            <tr><td><code>cv</code></td><td><code>http://data.europa.eu/m8g/</code></td></tr>         
            <tr><td><code>dct</code></td><td><code>http://purl.org/dc/terms/</code></td></tr>
            <tr><td><code>epo</code></td><td><code>http://data.europa.eu/a4g/ontology#</code></td></tr>
            <tr><td><code>foaf</code></td><td><code>http://xmlns.com/foaf/0.1/</code></td></tr>
            <tr><td><code>frapo</code></td><td><code>http://purl.org/cerif/frapo/</code></td></tr> 
            <tr><td><code>legal</code></td><td><code>http://www.w3.org/ns/legal#</code></td></tr>
            <tr><td><code>locn</code></td><td><code>http://www.w3.org/ns/locn#</code></td></tr>
            <tr><td><code>person</code></td><td><code>http://www.w3.org/ns/person#</code></td></tr>
            <tr><td><code>rdf</code></td><td><code>http://www.w3.org/1999/02/22-rdf-syntax-ns#</code></td></tr>
            <tr><td><code>rdfs</code></td><td><code>http://www.w3.org/2000/01/rdf-schema#</code></td></tr>
            <tr><td><code>skos</code></td><td><code>http://www.w3.org/2004/02/skos/core#</code></td></tr>
            <tr><td><code>xsd</code></td><td><code>http://www.w3.org/2001/XMLSchema#</code></td></tr>
            

            </tbody>
        </table>

{% endblock %}

{% block codelist %}


<h3 id="list-block-projectType">Block - Project Type</h3> 
<table id="table-block-projectType" class="simple">
	 <thead><tr><th>URI</th><th>Identifier</th><th>Label</th><th>Description</th></tr></thead>
    <tbody>
        <tr>
            <td>https://w3id.org/adm/codelist/projectType/1</td>
            <td>1</td>
            <td>ESF project</td>
            <td>ESF project (Education and training)</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/projectType/2</td>
            <td>2</td>
            <td>SME project</td>
            <td>SME project</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/projectType/3</td>
            <td>3</td>
            <td>Road construction project</td>
            <td>Road construction project</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/projectType/4</td>
            <td>4</td>
            <td>Railroad construction project</td>
            <td>Railroad construction project</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/projectType/5</td>
            <td>5</td>
            <td>Solid waste treatment project</td>
            <td>Solid waste treatment project</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/projectType/6</td>
            <td>6</td>
            <td>Water waste or water supply project</td>
            <td>Water waste or water supply project</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/projectType/7</td>
            <td>7</td>
            <td>Energy efficiency and urban development project</td>
            <td>Energy efficiency (housing) / Urban development project</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/projectType/8</td>
            <td>8</td>
            <td>Recovery and Resilience Facility</td>
            <td>Recovery and Resilience Facility</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/projectType/9</td>
            <td>9</td>
            <td>Other</td>
            <td>Other</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/projectType/11</td>
            <td>11</td>
            <td>EAGF - Direct Payments interventions</td>
            <td>EAGF - Direct Payments interventions</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/projectType/12</td>
            <td>12</td>
            <td>EAGF - Sectoral interventions and market measures</td>
            <td>EAGF - Sectoral interventions and market measures</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/projectType/13</td>
            <td>13</td>
            <td>EAFRD - Rural development Non-IACS interventions</td>
            <td>EAFRD - Rural development Non-IACS interventions</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/projectType/14</td>
            <td>14</td>
            <td>EAFRD - Rural development IACS interventions</td>
            <td>EAFRD - Rural development IACS interventions</td>
        </tr>
  </tbody>
</table>

<h3 id="list-contract-contractType">Contract - Contract Type</h3> 
<table id="table-contract-contractType" class="simple">
	 <thead><tr><th>URI</th><th>Identifier</th><th>Label</th><th>Description</th></tr></thead>
    <tbody>
        <tr id="table-contract-contractType-1">
            <td>http://publications.europa.eu/resource/authority/contract-nature/works</td>
            <td>1</td>
            <td>Works</td>
            <td>The outcome of building or civil engineering works taken as a whole that is sufficient of itself to fulfil an economic or technical function.</td>
        </tr>
        <tr id="table-contract-contractType-2">
            <td>https://w3id.org/adm/codelist/contractType/2</td>
            <td>2</td>
            <td>Supervision</td>
            <td>A contract that requires a supervision service to fulfil an economic or technical function.</td>
        </tr>
        <tr id="table-contract-contractType-9">
            <td>https://w3id.org/adm/codelist/contractType/9</td>
            <td>9</td>
            <td>Others</td>
            <td>A contract that requires other type of services to fulfil an economic or technical function.</td>
        </tr>
    </tbody>
</table>

<h3 id="list-project-status">Project - Status</h3> 
<table id="table-project-Status" class="simple">
	 <thead><tr><th>URI</th><th>Identifier</th><th>Label</th><th>Description</th></tr></thead>
    <tbody>
        <tr id="table-project-Status-1">
            <td>https://w3id.org/adm/codelist/projectStatus/1</td>
            <td>1</td>
            <td>Open</td>
            <td>The project is ongoing</td>
        </tr>
        <tr id="table-project-Status-2">
            <td>https://w3id.org/adm/codelist/projectStatus/2</td>
            <td>2</td>
            <td>Closed</td>
            <td>The project is concluded</td>
        </tr>
        <tr id="table-project-Status-3">
            <td>https://w3id.org/adm/codelist/projectStatus/3</td>
            <td>3</td>
            <td>Cancelled</td>
            <td>The project is aborted</td>
        </tr>
    </tbody>
</table>

<h3 id="list-project-thematicObjective">Project - Thematic Objective</h3> 
<table id="table-project-thematicObjective" class="simple">
	<thead><tr><th>URI</th><th>Identifier</th><th>Label</th><th>Description</th></tr></thead>
	<tbody>
        <tr>
            <td>https://w3id.org/adm/codelist/thematicObjective/0</td>
            <td>0</td>
            <td>Unknown</td>
            <td>Unknown</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/thematicObjective/1</td>
            <td>1</td>
            <td>Research</td>
            <td>Strengthening research, technological development and innovation</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/thematicObjective/2</td>
            <td>2</td>
            <td>Access</td>
            <td>Enhancing access to, and use and quality of, ICT</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/thematicObjective/3</td>
            <td>3</td>
            <td>Competitiveness</td>
            <td>Enhancing the competitiveness of SMEs, of the agricultural sector (for the EAFRD) and of the fishery and aquaculture sector (for the EMFF)</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/thematicObjective/4</td>
            <td>4</td>
            <td>Low-carbon</td>
            <td>Supporting the shift towards a low-carbon economy in all sectors</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/thematicObjective/5</td>
            <td>5</td>
            <td>Climate change</td>
            <td>Promoting climate change adaptation, risk prevention and management</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/thematicObjective/6</td>
            <td>6</td>
            <td>Environment</td>
            <td>Preserving and protecting the environment and promoting resource efficiency</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/thematicObjective/7</td>
            <td>7</td>
            <td>Transport</td>
            <td>Promoting sustainable transport and removing bottlenecks in key network infrastructures</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/thematicObjective/8</td>
            <td>8</td>
            <td>Labour</td>
            <td>Promoting sustainable and quality employment and supporting labour mobility</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/thematicObjective/9</td>
            <td>9</td>
            <td>Inclusion</td>
            <td>Promoting social inclusion, combating poverty and any discrimination</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/thematicObjective/10</td>
            <td>10</td>
            <td>Education</td>
            <td>Investing in education, training and vocational training for skills and lifelong learning</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/thematicObjective/11</td>
            <td>11</td>
            <td>Institutions</td>
            <td>Enhancing institutional capacity of public authorities and stakeholders and efficient public administration</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/thematicObjective/12</td>
            <td>12</td>
            <td>Not applicable</td>
            <td>Not applicable (Technical assistance only)</td>
        </tr>
        <tr>
            <td>https://w3id.org/adm/codelist/thematicObjective/13</td>
            <td>13</td>
            <td>Recovery</td>
            <td>Fostering crisis repair in the context of the COVID-19 pandemic and preparing a green, digital and resilient recovery of the economy (REACT-EU)</td>
        </tr>
    </tbody>
</table>

{% endblock %}


