{% extends "semic-ap_en.j2" %}

{% block respecconfig %}

    var respecConfig = {
      postProcess: [quickreference],
      edDraftURI: "{{metadata.navigation.self}}",
      latestVersion: "{{metadata.navigation.prev}}",
      specStatus: "LD",
      publishDate: "{{ metadata.issued }}",
      editors: myeditors,
      authors: myauthors,
      github: "SEMICeu/Core-Location-Vocabulary",
      shortName: "{{metadata.title}}",
      xref: "web-platform",
      doJsonLd: true,
      logos: [{
        src: "https://semiceu.github.io/CPOV/releases/2.1.0/html/semic-icon.png",
        url: "https://semic.eu",
        alt: "SEMIC",
        width: 154,
        height: 140,
        id: "semic-logo",
      },],
      generatedSubtitle: "",
      additionalCopyrightHolders: "",
      localBiblio: {
        "DXWG": {
          "href" : "https://www.w3.org/2017/dxwg/wiki/Main_Page",
          "title" : "Dataset Exchange Working Group",
          "publisher" : "W3C"
          },
        "ISA":{
           "href":"https://ec.europa.eu/isa/",
           "title":"Interoperability Solutions for European Public Administrations (ISA)",
           "publisher":"European Commission"
          },
        "ISA2":{
          "href":"https://ec.europa.eu/isa2/",
          "title":"Interoperability solutions for public administrations, businesses and citizens (ISA²)",
          "publisher":"European Commission"
        },
        "SEMIC":{
          "href":"https://joinup.ec.europa.eu/",
          "title":"JoinUp welcomes Interoperable Europe",
          "publisher":"European Commission"
         },
        "DEU" : {
          "href":"https://data.europa.eu",
          "title":"The official portal for European data",
          "publisher":"European Commission"
        },
		"HVD" : {
		  "href":"https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32023R0138",
		  "title":"Implementing Regulation for High Value Datasets",
		  "publisher":"European Union"
		},
		"DCAT-AP-HVD" : {
		  "href":"https://semiceu.github.io/uri.semic.eu-generated/DCAT-AP/releases/2.2.0-hvd/",
		  "title":"Usage Guidelines of DCAT-AP for High-Value Datasets",
		  "publisher":"European Commission"
		},
                "PSI" : {
                  "href": "https://eur-lex.europa.eu/eli/dir/2019/1024/oj",
                  "title" :  "Directive on open data and the re-use of public sector information (recast)",
                  "publisher" : "European Union"
                }
      }
    };

{% endblock %}


{% block introduction %}
	Locations can be described in three principal ways: by using a place name, a geometry or an
    address. The specific context will determine which method of describing a location is most
    appropriate. The Core Location Vocabulary provides structure for all three.
</p>
<p>
    ISO 19112 defines a location as "an identifiable geographic place." With this in mind, "Eiffel
    Tower", "Madrid" and "California" are all locations and this is a common way of representing
    locations in public sector data, i.e. simply by using a recognised name. Such identifiers are
    common although they can be highly ambiguous as many places share the same or similar names.
</p>
<p>
    In addition to a simple (string) label or name for a Location, this vocabulary defines a property
    that allows a Location to be defined by a URI, such as a GeoNames or DBpedia URI.
</p>
<p>
    No cardinality constraints are placed on any property of the Location, Address or Geometry
    classes in order to maximise flexibility. A single address may be defined in different ways, a
    geometry may be defined using different coordinate reference systems and a single place may
    have no recognised name or multiple names. The Core Location Vocabulary makes a minimum
    number of assumptions about what data will be encoded. However, it clearly makes no sense to
    define any of the location classes without any properties or to provide multiple instances of the
    same property with conflicting values.
</p>
{% endblock %}

{% block summary %}
<section id="abstract">
    <h2>Abstract</h2>
The Core Location Vocabulary is a simplified, reusable and extensible data model that captures the fundamental characteristics of a location, represented as an address, a geographic name, or a geometry.
{% endblock %}

{#
{% block version %} 
<a href="https://semiceu.github.io/Core-Location-Vocabulary/releases/2.0.2">https://semiceu.github.io/Core-Location-Vocabulary/releases/2.0.2</a>
{% endblock %}

{% block previousversion %} 
<a href="https://semiceu.github.io/Core-Location-Vocabulary/releases/2.0.1">https://semiceu.github.io/Core-Location-Vocabulary/releases/2.0.1</a>
{% endblock %}

{% block source %} 
<a href="https://github.com/SEMICeu/Core-Location-Vocabulary/tree/master/releases/2.0.2">https://github.com/SEMICeu/Core-Location-Vocabulary/tree/master/releases/2.0.2</a>
{% endblock %}
#}


{#
{% block license %}
<p>This specification of <a href=”https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic”>SEMIC</a> is published under “<a href=”https://joinup.ec.europa.eu/licence/isa-open-metadata-licence-v11">ISA Open Metadata Licence 1.1</a>”.</p>
{% endblock %}
#}


{% block examples %}
<div class="h3 examples" id="example-rdf_wkt">Example 1 - RDF+WKT (GeoSPARQL)</div>
<div class="h3 examples" id="example-rdf_gml">Example 2 - RDF+GML (GeoSPARQL))</div>
<div class="h3 examples" id="example-rdf_wgs">Example 3 - RDF (WGS84 lat/long)</div>
<div class="h3 examples" id="example-rdf_schema">Example 4 - RDF (schema.org)</div>
<div class="h3 examples" id="example-rdf_geohash">Example 5 - URI reference (GeoHash)</div>
{% endblock %}

{#
{% block changelog %}
<p>
A changelog describing the (major) changes to the previous version (2.0.2) of the Core Location Vocabulary and the new version that is being proposed in this specification (2.1.0), can be found <a href="{{ metadata.documentconfig.changelog }}">here</a>.
<p>
{% endblock %}
#}

{% block mappings %}
<p>
A mapping towards Schema.org can be found <a href="https://github.com/SEMICeu/Semantic-Mappings/tree/main/Core%20Location">here</a>
<p>
{% endblock %}


{% block usages %} 
  <section class="informative">
  <h2>Support for implementation</h2>

Implementing the {{metadata.title}} also raises technical questions.
<p/>


<h4>JSON-LD context file</h4>

One common technical question is the format in which the data is being exchanged. 
For conformance with the {{metadata.title}}, it is not mandatory that this happens in a RDF serialisation, but the exhanged format SHOULD be unambiguously be transformable into RDF.
For the format JSON, a popular format to exchange data between systems, SEMIC provides a <a href={{"./context/"~{{metadate.name}}~".jsonld"}}>JSON-LD context file</a>. 
JSON-LD is a W3C Recommendation [[[json-ld11]]] that provided a standard approach to interpret JSON structures as RDF.
The provided JSON-LD context file can be used by implementers.
This JSON-LD context is not normative, i.e. other JSON-LD contexts are allowed.
<p/>
The JSON-LD context file downloadable 
<p/>

<h4>Validation</h4>

To verify if the data is (technically) conformant to the {{metadata.title}}, the exchanged data can be validated using the provided SHACL shapes. 
SHACL is a W3C Recommendation to express constraints on a RDF knowledge graph. 
<p/>
To support the check whether or not a catalogue satisfies the expressed constraints in this Core Vocabulary, the constraints in this specification are expressed using SHACL [[shacl]].
Each constraint in this specification that could be converted into a SHACL expression has been included.
As such this collection of SHACL expressions that can be used to build a validation check for data. 
<p/>
It is up to the implementers to define the validation they expect.
Each implementation happens within a context, and that context is beyond the SHACL expressions here.
<p/>
The shapes can be found 


</section>
{% endblock %}
