{% extends "semic-profile-ap_en.j2" %}

{% block respecconfig %}

    var respecConfig = {
      postProcess: [quickreference],
      edDraftURI: "{{metadata.navigation.self}}",
      latestVersion: "{{metadata.navigation.prev}}",
      specStatus: "LD",
      publishDate: "{{ metadata.issued }}",
      editors: myeditors,
      authors: myauthors,
      github: "SEMICeu/CPSV-AP",
      shortName: "{{metadata.title}}",
      xref: "web-platform",
      doJsonLd: true,
      logos: [{
        src: "https://semiceu.github.io/CPOV/releases/2.1.0/html/semic-icon.png",
        url: "https://semic.eu",
        alt: "SEMIC",
        width: 154,
        height: 140,
        id: "semic-logo",
      },],
      generatedSubtitle: "",
      additionalCopyrightHolders: "",
      localBiblio: {
        "DXWG": {
          "href" : "https://www.w3.org/2017/dxwg/wiki/Main_Page",
          "title" : "Dataset Exchange Working Group",
          "publisher" : "W3C"
          },
        "ISA":{
           "href":"https://ec.europa.eu/isa/",
           "title":"Interoperability Solutions for European Public Administrations (ISA)",
           "publisher":"European Commission"
          },
        "ISA2":{
          "href":"https://ec.europa.eu/isa2/",
          "title":"Interoperability solutions for public administrations, businesses and citizens (ISA²)",
          "publisher":"European Commission"
        },
        "SEMIC":{
          "href":"https://joinup.ec.europa.eu/",
          "title":"JoinUp welcomes Interoperable Europe",
          "publisher":"European Commission"
         },
        "DEU" : {
          "href":"https://data.europa.eu",
          "title":"The official portal for European data",
          "publisher":"European Commission"
        },
		"HVD" : {
		  "href":"https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32023R0138",
		  "title":"Implementing Regulation for High Value Datasets",
		  "publisher":"European Union"
		},
		"DCAT-AP-HVD" : {
		  "href":"https://semiceu.github.io/uri.semic.eu-generated/DCAT-AP/releases/2.2.0-hvd/",
		  "title":"Usage Guidelines of DCAT-AP for High-Value Datasets",
		  "publisher":"European Commission"
		},
                "PSI" : {
                  "href": "https://eur-lex.europa.eu/eli/dir/2019/1024/oj",
                  "title" :  "Directive on open data and the re-use of public sector information (recast)",
                  "publisher" : "European Union"
                }
      }
    };

{% endblock %}


{% block introduction %}
<p>
  The original Core Public Service Vocabulary Application Profile (CPSV-AP) was prepared in the context of Action 2016.29 – Accessing Member State
  information resources at European level – Catalogue of Services of the European Commission’s Interoperability for European Public Administrations (ISA) programme.
  The CPSV-AP has been seen as a first step for creating a model for describing public services related to business and life events,
  to facilitate the set-up of catalogues of services oriented to businesses and citizens.
</p>
<p>
  CPSV-AP is designed to meet the following use cases:
  <ul>
    <li>facilitating the access to public service information;</li>
    <li>building user-centric catalogues of public services at all levels from regional to a European federated catalogue;</li>
    <li>managing portfolios of public services;</li>
    <li>finding information of generic and specialised public services; and</li>
    <li>the execution of a public service, i.e.; when a public service is performed and produces a physical object.</li>
  </ul>
</p>
<p>
  The specification of the Core Public Service Vocabulary Application Profile is represented in a UML class diagram.
  The figure here beneath shows the full profile which includes:
  <ul>
    <li>The classes and properties that define the service itself: the necessary inputs, possible outputs,
    the responsible public authority and the events that trigger service use;</li>
    <li>The classes and properties that describe the context in which the service is offered.
    This includes relevant legislation and rules of operation for the service; and </li>
    <li>The interface between the service and its users: how and when it can be accessed.</li> 
</p>
{% endblock %}


{% block summary %}
<section id="abstract">
    <h2>Abstract</h2>
CPSV-AP provides a minimal common basis within Europe to describe public services.
</section>
{% endblock %}

{% block terminologyPrefixes %}
This specification uses the following prefixes to shorten the URIs for readibility.

        <table id="table-namespaces" class="simple">
            <thead><tr><th>Prefix</th><th>Namespace IRI</th></tr></thead>
            <tbody>
            <tr><td><code>adms</code></td><td><code>http://www.w3.org/ns/adms#</code></td></tr>
            <tr><td><code>cpsv</code></td><td><code>http://purl.org/vocab/cpsv#</code></td></tr>           
            <tr><td><code>cv</code></td><td><code>http://data.europa.eu/m8g/</code></td></tr>           
            <tr><td><code>dcat</code></td><td><code>http://www.w3.org/ns/dcat#</code></td></tr>
            <tr><td><code>dct</code></td><td><code>http://purl.org/dc/terms/</code></td></tr>
            <tr><td><code>eli</code></td><td><code>http://data.europa.eu/eli/ontology#</code></td></tr>
            <tr><td><code>epo</code></td><td><code>http://data.europa.eu/a4g/ontology#</code></td></tr>
            <tr><td><code>foaf</code></td><td><code>http://xmlns.com/foaf/0.1/</code></td></tr>
            <tr><td><code>locn</code></td><td><code>http://www.w3.org/ns/locn#</code></td></tr>
            <tr><td><code>org</code></td><td><code>http://www.w3.org/ns/org#</code></td></tr>
            <tr><td><code>rdf</code></td><td><code>http://www.w3.org/1999/02/22-rdf-syntax-ns#</code></td></tr>
            <tr><td><code>rdfs</code></td><td><code>http://www.w3.org/2000/01/rdf-schema#</code></td></tr>
            <tr><td><code>skos</code></td><td><code>http://www.w3.org/2004/02/skos/core#</code></td></tr>
            <tr><td><code>time</code></td><td><code>http://www.w3.org/2006/time#</code></td></tr>
            <tr><td><code>xsd</code></td><td><code>http://www.w3.org/2001/XMLSchema#</code></td></tr>
            </tbody>
        </table>

{% endblock %}

{% block examples %}
<div class="h3 examples" id="example-rdf_public_service">Example Public Service</div>
{% endblock %}