<section class="informative">
<h2>Governance</h2>

<h3>Versioning governance</h3>
All specifications produced in SEMIC will follow the versioning rule described by the SEMIC Style Guide rule 
<a href="https://semiceu.github.io/style-guide/1.0.0/gc-publication-conventions.html#sec:pc-r3">PC-R3</a>.
In case a SEMIC asset is deprecated the asset will remain available through its PURI.
<p/>
The serialisation will have:
<ul>
<li>a dct:isReplacedBy referencing the new assets used instead and</li>
<li> an adms:status  indicating its deprecated status: http://publications.europa.eu/resource/authority/concept-status/DEPRECATED.</li>
</ul>
<p/>

<h3>Governance requirements for re-used assets</h3>
In order to adhere to the SEMIC Style Guide rule <a href="https://semiceu.github.io/style-guide/1.0.0/gc-general-conventions.html#sec:gc-r2">GC-R2</a>
 a specification should have quality and governance standards for the assets that are being reused.
<p/>
In order for an asset to be considered for reuse within a SEMIC specification it can be requested by a community member or it requires to adhere to the following requirements:
<ul>
<li> The asset is part of a recommendation by a major standards body or an EU institution.</li>
<li> The asset is actively being maintained.</li>
</ul>
<p/>

After being taken into consideration the asset will be validated in three steps:
<ul>
<li> Syntax validation will be performed on the relevant artefacts.</li>
<li> Constraint validation will be performed on the relevant artefacts.</li>
<li> The PURI will be validated.</li>
</ul>
Once considered and validated an asset can be adopted if it is approved by the community.
<p/>

<h3>Lexicalisation rules</h3>

In order to adhere to the SEMIC Style Guide rule <a href="https://semiceu.github.io/style-guide/1.0.0/gc-semantic-conventions.html#sec:sc-r3">SC-R3</a> a specification requires formal lexicalisation rules.
The Style Guide proposes two options either by using RDFS or SKOS lexicalisation.
<p/>
SEMIC uses and will use the RDFS lexicalisation for all of its specifications. More specifically:
<ul>
<li> rdfs:label is used to provide a human-readable version of a resource's name.</li>
<li> The usage of certain resource can be clarified in vann:usageNote.</li>
</ul>

</section>