<section class="informative">
  <h2>Support for implementation</h2>

Implementing the {{metadata.title}} also raises technical questions.
<p/>

<h4>JSON-LD context file</h4>

One common technical question is the format in which the data is being exchanged. 
For conformance with the {{metadata.title}}, it is not mandatory that this happens in a RDF serialisation, but the exhanged format SHOULD be unambiguously be transformable into RDF.
For the format JSON, a popular format to exchange data between systems, SEMIC provides a <a href="./context/{{metadata.filename}}-ap.jsonld">JSON-LD context file</a>. 
JSON-LD is a W3C Recommendation [[[json-ld11]]] that provided a standard approach to interpret JSON structures as RDF.
The provided JSON-LD context file can be used by implementers.
This JSON-LD context is not normative, i.e. other JSON-LD contexts are allowed.
<p/>
The JSON-LD context file downloadable <a href="./context/{{metadata.Filename}}-ap.jsonld">here</a>.
<p/>

<h4>Validation</h4>

To verify if the data is (technically) conformant to the {{metadata.title}}, the exchanged data can be validated using the provided SHACL shapes. 
SHACL is a W3C Recommendation to express constraints on a RDF knowledge graph. 
<p/>
To support the check whether or not a catalogue satisfies the expressed constraints in this Core Vocabulary, the constraints in this specification are expressed using SHACL [[shacl]].
Each constraint in this specification that could be converted into a SHACL expression has been included.
As such this collection of SHACL expressions that can be used to build a validation check for data. 
<p/>
It is up to the implementers to define the validation they expect.
Each implementation happens within a context, and that context is beyond the SHACL expressions here.
<p/>
The shapes can be found <a href="./shacl/{{metadata.Filename}}}-ap-SHACL.ttl">here</a>.


</section>