{% extends "egdc_respec.j2" %}

{% block respecconfig %}

    var respecConfig = {
      postProcess: [quickreference],
      edDraftURI: "https://european-green-digital-coalition.github.io/EGDC_CaseStudy/releases/1.0.1/",
      latestVersion: "{{metadata.navigation.prev}}",
      specStatus: "base",
      publishDate: "{{ metadata.issued }}",
      editors: myeditors,
      authors: myauthors,
      github: "European-Green-Digital-Coalition/EGDC_CaseStudy",
      shortName: "{{metadata.title}}",
      xref: "web-platform",
      doJsonLd: true,
      logos: [{
        src: "./html/EGDC-Emblem-Colour-on-light-bg-LRES.png",
        url: "https://www.greendigitalcoalition.eu/",
        alt: "EGDC",
        width: 154,
        height: 140,
        id: "egdc-logo",
      },],
      generatedSubtitle: "",
      additionalCopyrightHolders: "",
      localBiblio: {
        "DXWG": {
          "href" : "https://www.w3.org/2017/dxwg/wiki/Main_Page",
          "title" : "Dataset Exchange Working Group",
          "publisher" : "W3C"
          },
        "ISA":{
           "href":"https://ec.europa.eu/isa/",
           "title":"Interoperability Solutions for European Public Administrations (ISA)",
           "publisher":"European Commission"
          },
        "ISA2":{
          "href":"https://ec.europa.eu/isa2/",
          "title":"Interoperability solutions for public administrations, businesses and citizens (ISA²)",
          "publisher":"European Commission"
        },
        "SEMIC":{
          "href":"https://joinup.ec.europa.eu/",
          "title":"JoinUp welcomes Interoperable Europe",
          "publisher":"European Commission"
         },
        "DEU" : {
          "href":"https://data.europa.eu",
          "title":"The official portal for European data",
          "publisher":"European Commission"
        }
      }
    };

{% endblock %}


{% block introduction %}
	<p>
The EGDC Case Study data model is an Application Profile to describe EGDC Case studies.

</p>
{% endblock %}

{% block summary %}
<section id="abstract">
    <h2>Abstract</h2>
    EGDC Case Study data model allows to describe EGDC Case Studies together with the Organizations behind it, the attachments, etc.

</section>
{% endblock %}

{% block examples %}
<h3 class="h3 examples" id="example-rdf_casestudy">Example Case Study</h3>
{% endblock %}

{% block mappings %}
<section class="informative">
	<h2>Mappings</h2>
</section>
{% endblock %}

{% block terminologyPrefixes %}
EGDC is a semantic specification, where each class and property has an URI.

The prefixed form of the URI, can be found in part in the class diagram and in the quick reference table at the bottom, while, for ease of reading, full URI can be found in the hyperlink of each class and property.  

This specification uses the following prefixes to shorten the URIs for readability:

<table id="table-namespaces" class="simple">
	<thead><tr><th>Prefix</th><th>Namespace IRI</th></tr></thead>
	<tbody>
		<tr><td><code>adms</code></td><td><code>http://www.w3.org/ns/adms#</code></td></tr>
		<tr><td><code>cv</code></td><td><code>http://data.europa.eu/m8g/</code></td></tr>
		<tr><td><code>dcat</code></td><td><code>http://www.w3.org/ns/dcat#</code></td></tr>
		<tr><td><code>dct</code></td><td><code>http://purl.org/dc/terms/</code></td></tr>
		<tr><td><code>egdc-cs</code></td><td><code>https://w3id.org/egdc/casestudy/</code></td></tr>
		<tr><td><code>egdc-cl</code></td><td><code>https://w3id.org/egdc/codelist/</code></td></tr>
		<tr><td><code>egdc-ru</code></td><td><code>https://w3id.org/egdc/rule/</code></td></tr>
		<tr><td><code>foaf</code></td><td><code>http://xmlns.com/foaf/0.1/</code></td></tr>
		<tr><td><code>locn</code></td><td><code>http://www.w3.org/ns/locn#</code></td></tr>
		<tr><td><code>org</code></td><td><code>http://www.w3.org/ns/org#</code></td></tr>
		<tr><td><code>owl</code></td><td><code>http://www.w3.org/2002/07/owl#</code></td></tr>
		<tr><td><code>rdf</code></td><td><code>http://www.w3.org/1999/02/22-rdf-syntax-ns#</code></td></tr>
		<tr><td><code>rdfs</code></td><td><code>http://www.w3.org/2000/01/rdf-schema#</code></td></tr>
		<tr><td><code>skos</code></td><td><code>http://www.w3.org/2004/02/skos/core#</code></td></tr>
		<tr><td><code>xsd</code></td><td><code>http://www.w3.org/2001/XMLSchema#</code></td></tr>
	</tbody>
</table>

{% endblock %}

{% block codelist %}
<h3 id="be-type">Benefit - Type</h3> 
<table id="table-be-type" class="simple">
	<thead><tr><th>URI</th><th>Identifier</th><th>Label</th></tr></thead>
	<tbody>
		<tr><td>egdc-cl:benefit-type/economic</td><td><code>economic</code></td><td><code>Economic</code></td></tr>
		<tr><td>egdc-cl:benefit-type/environmental</td><td><code>environmental</code></td><td><code>Environmental</code></td></tr>
		<tr><td>egdc-cl:benefit-type/social</td><td><code>social</code></td><td><code>Social</code></td></tr>
	</tbody>
</table>

<h3 id="be-unit">Benefit - Unit</h3> 
<table id="table-be-unit" class="simple">
	<thead><tr><th>URI</th><th>Identifier</th><th>Label</th><th>OP Measurement Unit</th><th>QUDT Unit</th></tr></thead>
	<tbody>
		<tr><td>egdc-cl:unit/eur</td><td><code>eur</code></td><td><code>EUR</code></td><td></td><td></td></tr>
		<tr><td>egdc-cl:unit/kg</td><td><code>kg</code></td><td><code>Kg</code></td><td></td><td></td></tr>
		<tr><td>egdc-cl:unit/kwh</td><td><code>kwh</code></td><td><code>KWh</code></td><td><a href="https://op.europa.eu/web/eu-vocabularies/concept/-/resource?uri=http://publications.europa.eu/resource/authority/measurement-unit/KWH">KWH</a></td><td></td></tr>
		<tr><td>egdc-cl:unit/percent</td><td><code>percent</code></td><td><code>%</code></td><td></td><td><a href="http://qudt.org/vocab/unit/PERCENT">PERCENT</a></td></tr>
		<tr><td>egdc-cl:unit/tco2e</td><td><code>tco2e</code></td><td><code>Tonnes CO2e</code></td><td></td><td></td></tr>
	</tbody>
</table>

<h3 id="cs-funding">Case Study - Funding Type</h3> 
<table id="table-cs-funding" class="simple">
	<thead><tr><th>URI</th><th>Identifier</th><th>Label</th></tr></thead>
	<tbody>
		<tr><td>egdc-cl:funding/private</td><td><code>private</code></td><td><code>Private</code></td></tr>
		<tr><td>egdc-cl:funding/public</td><td><code>public</code></td><td><code>Public</code></td></tr>
		<tr><td>egdc-cl:funding/public-private</td><td><code>public-private</code></td><td><code>Public-Private Partnership</code></td></tr>
	</tbody>
</table>

<h3 id="cs-status">Case Study - Status</h3> 
<table id="table-cs-status" class="simple">
	<thead><tr><th>URI</th><th>Identifier</th><th>Label</th></tr></thead>
	<tbody>
		<tr><td>egdc-cl:status/declined</td><td><code>declined</code></td><td><code>Declined</code></td></tr>
		<tr><td>egdc-cl:status/draft</td><td><code>draft</code></td><td><code>Draft</code></td></tr>
		<tr><td>egdc-cl:status/pending-approval</td><td><code>pending-approval</code></td><td><code>Pending Approval</code></td></tr>
		<tr><td>egdc-cl:status/published</td><td><code>published</code></td><td><code>Published</code></td></tr>
	</tbody>
</table>

<h3 id="cs-technology">Case Study - Technology</h3> 
<table id="table-cs-technology" class="simple">
	<thead><tr><th>URI</th><th>Identifier</th><th>Label</th></tr></thead>
	<tbody>
		<tr><td>egdc-cl:technology/5g</td><td><code>5g</code></td><td><code>5G</code></td></tr>
		<tr><td>egdc-cl:technology/ai</td><td><code>ai</code></td><td><code>AI</code></td></tr>
		<tr><td>egdc-cl:technology/automation</td><td><code>automation</code></td><td><code>Automation & Control Systems</code></td></tr>
		<tr><td>egdc-cl:technology/big-data</td><td><code>big-data</code></td><td><code>Big Data</code></td></tr>
		<tr><td>egdc-cl:technology/blockchain</td><td><code>blockchain</code></td><td><code>Blockchain</code></td></tr>
		<tr><td>egdc-cl:technology/cloud</td><td><code>cloud</code></td><td><code>Cloud Computing</code></td></tr>
		<tr><td>egdc-cl:technology/digital-twin</td><td><code>digital-twin</code></td><td><code>Digital Twin</code></td></tr>
		<tr><td>egdc-cl:technology/fleet-management</td><td><code>fleet-management</code></td><td><code>Fleet Management System</code></td></tr>
		<tr><td>egdc-cl:technology/iot</td><td><code>iot</code></td><td><code>IoT</code></td></tr>
		<tr><td>egdc-cl:technology/robotics</td><td><code>robotics</code></td><td><code>Robotics</code></td></tr>
	</tbody>
</table>

<h3 id="cs-calculation">Case Study - Type of Calculation</h3> 
<table id="table-cs-calculation" class="simple">
	<thead><tr><th>URI</th><th>Identifier</th><th>Label</th></tr></thead>
	<tbody>
		<tr><td>egdc-cl:calculation/ex-ante</td><td><code>ex-ante</code></td><td><code>Ex Ante</code></td></tr>
		<tr><td>egdc-cl:calculation/ex-post</td><td><code>ex-post</code></td><td><code>Ex Post</code></td></tr>
	</tbody>
</table>

<h3 id="oa-role">OnlineAccount - Role</h3> 
<table id="table-oa-role" class="simple">
	<thead><tr><th>URI</th><th>Identifier</th><th>Label</th></tr></thead>
	<tbody>
		<tr><td>egdc-cl:role/admin</td><td><code>admin</code></td><td><code>Admin</code></td></tr>
		<tr><td>egdc-cl:role/custodian</td><td><code>custodian</code></td><td><code>Custodian</code></td></tr>
		<tr><td>egdc-cl:role/data-owner</td><td><code>data-owner</code></td><td><code>Data Owner</code></td></tr>
	</tbody>
</table>

<h3 id="org-sector">Organization - Sector</h3> 
<table id="table-org-sector" class="simple">
	<thead><tr><th>URI</th><th>Identifier</th><th>Label</th><th>Eurovoc Domain</th></tr></thead>
	<tbody>
    <tr><td>egdc-cl:sector/agriculture</td><td><code>agriculture</code></td><td><code>Agriculture</code></td><td><a href="https://showvoc.op.europa.eu/#/datasets/OP_EuroVoc/data?resId=http:%2F%2Feurovoc.europa.eu%2F100156">56 AGRICULTURE, FORESTRY AND FISHERIES</a></td></tr>
    <tr><td>egdc-cl:sector/construction</td><td><code>construction</code></td><td><code>Construction/building</code></td><td><a href="https://showvoc.op.europa.eu/#/datasets/OP_EuroVoc/data?resId=http:%2F%2Feurovoc.europa.eu%2F100160">68 INDUSTRY</a></td></tr>
    <tr><td>egdc-cl:sector/energy</td><td><code>energy</code></td><td><code>Energy/Power</code></td><td><a href="https://showvoc.op.europa.eu/#/datasets/OP_EuroVoc/data?resId=http:%2F%2Feurovoc.europa.eu%2F100159">66 ENERGY</a></td></tr>
    <tr><td>egdc-cl:sector/manufacturing</td><td><code>manufacturing</code></td><td><code>Manufacturing</code></td><td><a href="https://showvoc.op.europa.eu/#/datasets/OP_EuroVoc/data?resId=http:%2F%2Feurovoc.europa.eu%2F100158">64 PRODUCTION, TECHNOLOGY AND RESEARCH</a></td></tr>
    <tr><td>egdc-cl:sector/smart-cities</td><td><code>smart-cities</code></td><td><code>Smart Cities</code></td><td><a href="https://showvoc.op.europa.eu/#/datasets/OP_EuroVoc/data?resId=http:%2F%2Feurovoc.europa.eu%2F100149">28 SOCIAL QUESTIONS</a></td></tr>
    <tr><td>egdc-cl:sector/transport</td><td><code>transport</code></td><td><code>Transport</code></td><td><a href="https://showvoc.op.europa.eu/#/datasets/OP_EuroVoc/data?resId=http:%2F%2Feurovoc.europa.eu%2F100154">48 TRANSPORT</a></td></tr>
	</tbody>
</table>

<h3 id="org-type">Organization - Type</h3> 
<table id="table-org-type" class="simple">
	<thead><tr><th>URI</th><th>Identifier</th><th>Label</th></tr></thead>
	<tbody>
		<tr><td>egdc-cl:org-type/academic</td><td><code>academic</code></td><td><code>Academic Institution</code></td></tr>
		<tr><td>egdc-cl:org-type/company</td><td><code>company</code></td><td><code>Private Company</code></td></tr>
		<tr><td>egdc-cl:org-type/ngo</td><td><code>ngo</code></td><td><code>NGO</code></td></tr>
		<tr><td>egdc-cl:org-type/public</td><td><code>public</code></td><td><code>Public Institution</code></td></tr>
	</tbody>
</table>
{% endblock %}

