{% extends "egdc_respec.j2" %}

{% block respecconfig %}

    var respecConfig = {
      postProcess: [quickreference],
      edDraftURI: "{{metadata.navigation.self}}",
      latestVersion: "{{metadata.navigation.prev}}",
      specStatus: "base",
      publishDate: "{{ metadata.issued }}",
      editors: myeditors,
      authors: myauthors,
      github: "SEMICeu/EGDC",
      shortName: "{{metadata.title}}",
      xref: "web-platform",
      doJsonLd: true,
      logos: [{
        src: "https://semiceu.github.io/CPOV/releases/2.1.0/html/semic-icon.png",
        url: "https://semic.eu",
        alt: "SEMIC",
        width: 154,
        height: 140,
        id: "semic-logo",
      },],
      generatedSubtitle: "",
      additionalCopyrightHolders: "",
      localBiblio: {
        "DXWG": {
          "href" : "https://www.w3.org/2017/dxwg/wiki/Main_Page",
          "title" : "Dataset Exchange Working Group",
          "publisher" : "W3C"
          },
        "ISA":{
           "href":"https://ec.europa.eu/isa/",
           "title":"Interoperability Solutions for European Public Administrations (ISA)",
           "publisher":"European Commission"
          },
        "ISA2":{
          "href":"https://ec.europa.eu/isa2/",
          "title":"Interoperability solutions for public administrations, businesses and citizens (ISA²)",
          "publisher":"European Commission"
        },
        "SEMIC":{
          "href":"https://joinup.ec.europa.eu/",
          "title":"JoinUp welcomes Interoperable Europe",
          "publisher":"European Commission"
         },
        "DEU" : {
          "href":"https://data.europa.eu",
          "title":"The official portal for European data",
          "publisher":"European Commission"
        }
      }
    };

{% endblock %}


{% block introduction %}
	<p>
The EGDC Rule data model is an Application Profile to describe EGDC Rules.

</p>
{% endblock %}

{% block summary %}
<section id="abstract">
    <h2>Abstract</h2>
    EGDC Rule data model allows to described EGDC Rules together with their InputParameter, Output, etc.

</section>
{% endblock %}

{% block examples %}
{% endblock %}

{% block mappings %}
<section class="informative">
	<h2>Mappings</h2>
</section>
{% endblock %}

{% block terminologyPrefixes %}
EGDC Rule is a semantic specification, where each class and property has an URI.

The prefixed form of the URI, can be found in part in the class diagram and in the quick reference table at the bottom, while, for ease of reading, full URI can be found in the hyperlink of each class and property.  

This specification uses the following prefixes to shorten the URIs for readability:

<table id="table-namespaces" class="simple">
	<thead><tr><th>Prefix</th><th>Namespace IRI</th></tr></thead>
	<tbody>
		<tr><td><code>adms</code></td><td><code>http://www.w3.org/ns/adms#</code></td></tr>
		<tr><td><code>dcat</code></td><td><code>http://www.w3.org/ns/dcat#</code></td></tr>
		<tr><td><code>dct</code></td><td><code>http://purl.org/dc/terms/</code></td></tr>
		<tr><td><code>egdc</code></td><td><code>https://www.greendigitalcoalition.eu/model/</code></td></tr>
		<tr><td><code>egdc-cl</code></td><td><code>https://www.greendigitalcoalition.eu/codelist/</code></td></tr>
		<tr><td><code>foaf</code></td><td><code>http://xmlns.com/foaf/0.1/</code></td></tr>
		<tr><td><code>owl</code></td><td><code>http://www.w3.org/2002/07/owl#</code></td></tr>
		<tr><td><code>rdf</code></td><td><code>http://www.w3.org/1999/02/22-rdf-syntax-ns#</code></td></tr>
		<tr><td><code>rdfs</code></td><td><code>http://www.w3.org/2000/01/rdf-schema#</code></td></tr>
		<tr><td><code>skos</code></td><td><code>http://www.w3.org/2004/02/skos/core#</code></td></tr>
		<tr><td><code>xsd</code></td><td><code>http://www.w3.org/2001/XMLSchema#</code></td></tr>
	</tbody>
</table>

{% endblock %}

{% block codelist %}
<h3 id="ip-datatype">InputParameter - Datatype</h3> 
<table id="table-so-sector" class="simple">
	<thead><tr><th>URI</th><th>Identifier</th><th>Label</th></tr></thead>
	<tbody>
    <tr><td>egdc-cl:datatype/dropdown</td><td><code>dropdown</code></td><td><code>Dropdown</code></td></tr>
		<tr><td>egdc-cl:datatype/numeric</td><td><code>numeric</code></td><td><code>Numeric</code></td></tr>
	</tbody>
</table>

<h3 id="ip-option">InputParameter - Option</h3> 
<table id="table-ip-option" class="simple">
	<thead><tr><th>URI</th><th>Identifier</th><th>Label</th></tr></thead>
	<tbody>
		<tr><td></td><td><code></code></td><td><code></code></td></tr>
	</tbody>
</table>

<h3 id="ip-unit">InputParameter - Unit / Output - Unit</h3> 
<table id="table-ip-unit" class="simple">
	<thead><tr><th>URI</th><th>Identifier</th><th>Label</th><th>OP Measurement Unit</th><th>QUDT Unit</th></tr></thead>
	<tbody>
		<tr><td>egdc-cl:unit/hdd</td><td><code>hdd</code></td><td><code>HDD</code></td><td></td><td></td></tr>
		<tr><td>egdc-cl:unit/kgco2e</td><td><code>kgco2e</code></td><td><code>Kg CO2e</code></td><td></td><td></td></tr>
		<tr><td>egdc-cl:unit/kgn</td><td><code>kgn</code></td><td><code>Kg N</code></td><td>Kg of N used in fertilizers, shouldn't be a unit</td><td></td></tr>
		<tr><td>egdc-cl:unit/km</td><td><code>km</code></td><td><code>Km</code></td><td><a href="https://op.europa.eu/web/eu-vocabularies/concept/-/resource?uri=http://publications.europa.eu/resource/authority/measurement-unit/KTM">KTM</a></td><td></td></tr>
		<tr><td>egdc-cl:unit/kwh</td><td><code>kwh</code></td><td><code>KWh</code></td><td><a href="https://op.europa.eu/web/eu-vocabularies/concept/-/resource?uri=http://publications.europa.eu/resource/authority/measurement-unit/KWH">KWH</a></td><td></td></tr>
		<tr><td>egdc-cl:unit/m2</td><td><code>m2</code></td><td><code>m2</code></td><td><a href="https://op.europa.eu/web/eu-vocabularies/concept/-/resource?uri=http://publications.europa.eu/resource/authority/measurement-unit/MTK">MTK</a></td><td></td></tr>
		<tr><td>egdc-cl:unit/nautical-miles</td><td><code>nautical-miles</code></td><td><code>Nautical miles</code></td><td></td><td></td></tr>
		<tr><td>egdc-cl:unit/percent</td><td><code>percentage</code></td><td><code>%</code></td><td></td><td></td><td><a href="http://qudt.org/vocab/unit/PERCENT">PERCENT</a></td></tr>
		<tr><td>egdc-cl:unit/teu</td><td><code>teu</code></td><td><code>TEU</code></td><td></td><td></td></tr>
		<tr><td>egdc-cl:unit/tonnes</td><td><code>tonnes</code></td><td><code>Tonnes</code></td><td><a href="https://op.europa.eu/web/eu-vocabularies/concept/-/resource?uri=http://publications.europa.eu/resource/authority/measurement-unit/TNE">TNE</a></td><td></td></tr>
	</tbody>
</table>


<h3 id="ru-category">Rule - Category</h3> 
<table id="table-ru-category" class="simple">
	<thead><tr><th>URI</th><th>Identifier</th><th>Label</th></tr></thead>
	<tbody>
		<tr><td></td><td><code></code></td><td><code></code></td></tr>
	</tbody>
</table>

<h3 id="ru-complexity">Rule - Complexity</h3> 
<table id="table-ru-complexity" class="simple">
	<thead><tr><th>URI</th><th>Identifier</th><th>Label</th></tr></thead>
	<tbody>
		<tr><td>egdc-cl:complexity/simple</td><td><code>simple</code></td><td><code>Simple (minimal inputs)</code></td></tr>
		<tr><td>egdc-cl:complexity/medium</td><td><code>medium</code></td><td><code>Medium</code></td></tr>
		<tr><td>egdc-cl:complexity/complex</td><td><code>complex</code></td><td><code>Complex (many input/calculations)</code></td></tr>
	</tbody>
</table>

<h3 id="ru-effectorder">Rule - Effect Order</h3> 
<table id="table-ru-effectorder" class="simple">
	<thead><tr><th>URI</th><th>Identifier</th><th>Label</th></tr></thead>
	<tbody>
		<tr><td>egdc-cl:effectorder/1st</td><td><code>1st</code></td><td><code>1st Order effect</code></td></tr>
		<tr><td>egdc-cl:effectorder/2nd</td><td><code>2nd</code></td><td><code>2nd Order effect</td></tr>
		<tr><td>egdc-cl:effectorder/high</td><td><code>higher</code></td><td><code>Higher Order effect</code></td></tr>
	</tbody>
</table>

<h3 id="ru-impacttype">Rule - Impact Type</h3> 
<table id="table-ru-impacttype" class="simple">
	<thead><tr><th>URI</th><th>Identifier</th><th>Label</th></tr></thead>
	<tbody>
		<tr><td>egdc-cl:impacttype/behavioural-effect</td><td><code>behavioural-effect</code></td><td><code>Behavioural Effect</code></td></tr>  
		<tr><td>egdc-cl:impacttype/embodied-emission</td><td><code>embodied-emission</code></td><td><code>Embodied Emission</code></td></tr>
		<tr><td>egdc-cl:impacttype/end-of-life-emission</td><td><code>end-of-life-emission</code></td><td><code>End-of-Life Emission</code></td></tr>
		<tr><td>egdc-cl:impacttype/grid-decarbonation</td><td><code>grid-decarbonation</code></td><td><code>Grid Decarbonation</code></td></tr>
		<tr><td>egdc-cl:impacttype/increased-emission</td><td><code>increased-emission</code></td><td><code>Increased Emission (Rebound)</code></td></tr>
		<tr><td>egdc-cl:impacttype/lifecycle-emission</td><td><code>lifecycle-emission</code></td><td><code>Lifecycle Emission</code></td></tr>
		<tr><td>egdc-cl:impacttype/reduced-electricity-emission</td><td><code>reduced-electricity-emission</code></td><td><code>Reduced Electricity Emission</code></td></tr>
		<tr><td>egdc-cl:impacttype/reduced-embodied-emission</td><td><code>reduced-embodied-emission</code></td><td><code>Reduced Embodied Emission</code></td></tr>
		<tr><td>egdc-cl:impacttype/reduced-fuel-emission</td><td><code>reduced-fuel-emission</code></td><td><code>Reduced Fuel Emission</code></td></tr>
		<tr><td>egdc-cl:impacttype/reduced-gas-emission</td><td><code>reduced-gas-emission</code></td><td><code>Reduced Gas Emission</code></td></tr>
		<tr><td>egdc-cl:impacttype/use-phase-emission</td><td><code>use-phase-emission</code></td><td><code>Use-phase Emission</code></td></tr>
	</tbody>
</table>

<h3 id="ru-popular">Rule - Popular</h3> 
<table id="table-ru-popular" class="simple">
	<thead><tr><th>URI</th><th>Identifier</th><th>Label</th></tr></thead>
	<tbody>
		<tr><td></td><td><code></code></td><td><code></code></td></tr>
	</tbody>
</table>

<h3 id="ru-status">Rule - Status</h3> 
<table id="table-ru-status" class="simple">
	<thead><tr><th>URI</th><th>Identifier</th><th>Label</th></tr></thead>
	<tbody>
		<tr><td>egdc-cl:status/active</td><td><code>active</code></td><td><code>Active</code></td></tr>
    <tr><td>egdc-cl:status/inactive</td><td><code>inactive</code></td><td><code>Inactive</code></td></tr>
	</tbody>
</table>

<h3 id="so-region">Source - Region</h3> 
<table id="table-so-region" class="simple">
	<thead><tr><th>URI</th><th>Identifier</th><th>Label</th></tr></thead>
	<tbody>
		<tr><td>egdc-cl:region/eu</td><td><code>eu</code></td><td><code>EU (average)</code></td></tr>
		<tr><td>egdc-cl:region/fi</td><td><code>fi</code></td><td><code>Finland</code></td></tr>
		<tr><td>egdc-cl:region/fr</td><td><code>fr</code></td><td><code>France</code></td></tr>
		<tr><td>egdc-cl:region/de</td><td><code>de</code></td><td><code>Germany</code></td></tr>
		<tr><td>egdc-cl:region/gr</td><td><code>gr</ceode></td><td><code>Greece</code></td></tr>
		<tr><td>egdc-cl:region/ie</td><td><code>it</code></td><td><code>Ireland</code></td></tr>
		<tr><td>egdc-cl:region/it</td><td><code>it</code></td><td><code>Italy</code></td></tr>
		<tr><td>egdc-cl:region/mx</td><td><code>mx</code></td><td><code>Mexico</code></td></tr>
		<tr><td>egdc-cl:region/no</td><td><code>no</code></td><td><code>Norway</code></td></tr>
		<tr><td>egdc-cl:region/es</td><td><code>es</code></td><td><code>Spain</code></td></tr>
		<tr><td>egdc-cl:region/se</td><td><code>se</code></td><td><code>Sweden</code></td></tr>
		<tr><td>egdc-cl:region/xy</td><td><code>xy</code></td><td><code>Western Europe</code></td></tr>
	</tbody>
</table>

<h3 id="so-sector">Source - Sector</h3> 
<table id="table-so-sector" class="simple">
	<thead><tr><th>URI</th><th>Identifier</th><th>Label</th><th>Eurovoc Domain</th></tr></thead>
	<tbody>
		<tr><td>egdc-cl:sector/agriculture</td><td><code>agriculture</code></td><td><code>Agriculture</code></td><td><a href="https://showvoc.op.europa.eu/#/datasets/OP_EuroVoc/data?resId=http:%2F%2Feurovoc.europa.eu%2F100156">56 AGRICULTURE, FORESTRY AND FISHERIES</a></td></tr>
    <tr><td>egdc-cl:sector/construction</td><td><code>construction</code></td><td><code>Construction/building</code></td><td><a href="https://showvoc.op.europa.eu/#/datasets/OP_EuroVoc/data?resId=http:%2F%2Feurovoc.europa.eu%2F100160">68 INDUSTRY</a></td></tr>
    <tr><td>egdc-cl:sector/energy</td><td><code>energy</code></td><td><code>Energy/Power</code></td><td><a href="https://showvoc.op.europa.eu/#/datasets/OP_EuroVoc/data?resId=http:%2F%2Feurovoc.europa.eu%2F100159">66 ENERGY</a></td></tr>
    <tr><td>egdc-cl:sector/logistics</td><td><code>logistics</code></td><td><code>Logistics</code></td><td><a href="https://showvoc.op.europa.eu/#/datasets/OP_EuroVoc/data?resId=http:%2F%2Feurovoc.europa.eu%2F100152">40 BUSINESS AND COMPETITION</a></td></tr> 
    <tr><td>egdc-cl:sector/manufacturing</td><td><code>manufacturing</code></td><td><code>Manufacturing</code></td><td><a href="https://showvoc.op.europa.eu/#/datasets/OP_EuroVoc/data?resId=http:%2F%2Feurovoc.europa.eu%2F100158">64 PRODUCTION, TECHNOLOGY AND RESEARCH</a></td></tr>
    <tr><td>egdc-cl:sector/public</td><td><code>public</code></td><td><code>Public</code></td><td><a href="https://showvoc.op.europa.eu/#/datasets/OP_EuroVoc/data?resId=http:%2F%2Feurovoc.europa.eu%2F100152">40 BUSINESS AND COMPETITION</a></td></tr>
    <tr><td>egdc-cl:sector/retail</td><td><code>retail</code></td><td><code>Retail</code></td><td><a href="https://showvoc.op.europa.eu/#/datasets/OP_EuroVoc/data?resId=http:%2F%2Feurovoc.europa.eu%2F100147">20 TRADE</td></tr>
    <tr><td>egdc-cl:sector/services</td><td><code>services</code></td><td><code>Services</code></td><td><a href="https://showvoc.op.europa.eu/#/datasets/OP_EuroVoc/data?resId=http:%2F%2Feurovoc.europa.eu%2F100147">20 TRADE</td></tr>
    <tr><td>egdc-cl:sector/transport</td><td><code>transport</code></td><td><code>Transport</code></td><td><a href="https://showvoc.op.europa.eu/#/datasets/OP_EuroVoc/data?resId=http:%2F%2Feurovoc.europa.eu%2F100154">48 TRANSPORT</a></td></tr>
    <tr><td>egdc-cl:sector/waste</td><td><code>waste</code></td><td><code>Waste & Water</code></td><td><a href="https://showvoc.op.europa.eu/#/datasets/OP_EuroVoc/data?resId=http:%2F%2Feurovoc.europa.eu%2F100155">52 ENVIRONMENT</a></td></tr>
	</tbody>
</table>

{% endblock %}

