{% extends "oots-profile-ap_en.j2" %}

{% block respecconfig %}

    var respecConfig = {
      postProcess: [function() {
          $('#table-quickoverview').DataTable();
          $('#table-mapping').DataTable();
      }],
      edDraftURI: "https://data-models-oots-tdd-8b6791fd33fcb1f29c7d6ad9c6173ba55d28c0a5f9.pages.code.europa.eu/Evidence/EvidenceOfRoadworthiness/releases/0.0.2",
      latestVersion: "{{metadata.navigation.prev}}",
      specStatus: "LD",
      editors: myeditors,
      authors: myauthors,
      shortName: "{{metadata.title}}",
      xref: "web-platform",
      doJsonLd: true,
      logos: [{
        src: "./html/logo-once-only-hub.png",
        url: "https://ec.europa.eu/digital-building-blocks/sites/display/OOTS/OOTSHUB+Home",
        alt: "OOTS",
        width: 100,
        height: 53,
        id: "oots-logo",
      },],
      generatedSubtitle: "",
      additionalCopyrightHolders: "",
      localBiblio: {
        "DXWG": {
          "href" : "https://www.w3.org/2017/dxwg/wiki/Main_Page",
          "title" : "Dataset Exchange Working Group",
          "publisher" : "W3C"
          },
        "ISA":{
           "href":"https://ec.europa.eu/isa/",
           "title":"Interoperability Solutions for European Public Administrations (ISA)",
           "publisher":"European Commission"
          },
        "ISA2":{
          "href":"https://ec.europa.eu/isa2/",
          "title":"Interoperability solutions for public administrations, businesses and citizens (ISA²)",
          "publisher":"European Commission"
        },
        "SEMIC":{
          "href":"https://joinup.ec.europa.eu/",
          "title":"JoinUp welcomes Interoperable Europe",
          "publisher":"European Commission"
         },
        "DEU" : {
          "href":"https://data.europa.eu",
          "title":"The official portal for European data",
          "publisher":"European Commission"
        },
		"HVD" : {
		  "href":"https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32023R0138",
		  "title":"Implementing Regulation for High Value Datasets",
		  "publisher":"European Union"
		},
		"DCAT-AP-HVD" : {
		  "href":"https://semiceu.github.io/uri.semic.eu-generated/DCAT-AP/releases/2.2.0-hvd/",
		  "title":"Usage Guidelines of DCAT-AP for High-Value Datasets",
		  "publisher":"European Commission"
		},
                "PSI" : {
                  "href": "https://eur-lex.europa.eu/eli/dir/2019/1024/oj",
                  "title" :  "Directive on open data and the re-use of public sector information (recast)",
                  "publisher" : "European Union"
                }
      }
    };

{% endblock %}


{% block introduction %}
<p>
  The evidence of roadworthiness data model provides a minimum set of classes and properties for describing an evidence of roadworthiness. This data model has been designed to support the different requirements of the OOTS action. The different classes and properties outlined here are mapped to the requirements in the EUCARIS data model.
</p>
{% endblock %}


{% block summary %}
<section id="abstract">
    <h2>Abstract</h2>
Evidence of roadworthiness is a simplified data model describing an evidence regarding the vehicle's roadworthiness. It draws upon the <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32014L0045">specifications of Annex II, of Council Directive 2014/45/EU</a>.

</section>
{% endblock %}

{% block terminologyPrefixes %}
This specification uses the following prefixes to shorten the URIs for readability.

        <table id="table-namespaces" class="simple">
            <thead><tr><th>Prefix</th><th>Namespace IRI</th></tr></thead>
            <tbody> 
			<tr><td><code>auto-vc</code></td><td><code>https://spec.edmcouncil.org/auto/ontology/VC/VehicleCore/</code></td></tr>		
            <tr><td><code>cv</code></td><td><code>http://data.europa.eu/m8g/</code></td></tr>           
            <tr><td><code>dct</code></td><td><code>http://purl.org/dc/terms/</code></td></tr>
            <tr><td><code>rdf</code></td><td><code>http://www.w3.org/1999/02/22-rdf-syntax-ns#</code></td></tr>
            <tr><td><code>rdfs</code></td><td><code>http://www.w3.org/2000/01/rdf-schema#</code></td></tr>
            <tr><td><code>sdg</code></td><td><code>http://data.europa.eu/p4s/</code></td></tr>
            <tr><td><code>skos</code></td><td><code>http://www.w3.org/2004/02/skos/core#</code></td></tr>
            <tr><td><code>xsd</code></td><td><code>http://www.w3.org/2001/XMLSchema#</code></td></tr>

            </tbody>
        </table>

{% endblock %}

{% block umlrepresentation %}		
		<h3>UML representation</h3>
		The UML representation from which the {{metadata.title}} has been built is available <a href="./UML/OOTS_EvidenceOfRoadworthiness.eap">here</a>.
{% endblock %} 

{% block xmlschema %}
		<h3>XML schema representation</h3>
		<p>The XML schema representation from which the {{metadata.title}} has been build is available <a href="https://code.europa.eu/oots/tdd/data_models/-/tree/main/Evidence/EvidenceOfRoadworthiness">here</a>.</p>

    <p>The XML schema is based on the OOTS requirements and it allows some flexibility to include fields that Member States can add in addition to those foreseen in the OOTS requirements.</p>

    <p>The XML schema is based on 3 parts:</p>
    <ul>
    <li>The subject part, to indicate the Person subject of the evidence</li>
    <li>The event/status part, to indicate the data about the event related to the subject</li>
    <li>Optional additional part, to add optional fields (attributes) for the evidence type, such as issuing date or issuing authority</li>
    </ul>

    <p>All the parts with their respective attributes are optional (min cardinality set to 0).</p>

    <p>The XML schema is based on the SEMIC <a href="https://github.com/SEMICeu/CCCEV">Core Criterion and Core Evidence (CCCEV)</a> specification, and on the <a href="https://github.com/SEMICeu/Core-Business-Vocabulary/">Core Business vocabulary</a>. 
    An EvidenceOfRoadworthiness is then an OOTSEvidenceType (based on CCCEV Evidence) by having the 3 parts:</p>
    <ul>
    <li>cv:isAbout referring to the subject of the Evidence with an sdg:AttributeSet, that it means that is possible to add additional fields to the subject.</li>
    <li>dct:requires, defined by the OOTSCheckType including different properties as foreseen in OOTS requirements) and sdg:AttributeSet</li>
    <li>sdg:AttributeSet, that can contain many attributes, where the name, language and type fields could be defined for each attribute</li>
    </ul>

    <p>The design of the XML schema is based on the <a href="https://www.oracle.com/technical-resources/articles/java/design-patterns.html">Garden Of Eden Pattern</a> where complex types and elements are defined globals so they can be reused.</p>
    
    <p>Restrictions on the presence of fields and on their values are delegated to schematron file, that can vary per XML consumer and could be provided by XML providers, such as those on code list.
    OOTS provides certain <a href="https://ec.europa.eu/digital-building-blocks/sites/spaces/TDD/pages/920061693/3.5+-+Code+Lists+v1.2.3+September+2025">code list</a> in Genericode format that can be used via schematron. Additional code lists, such as the one of Sex in the current evidence, could be taken from the <a href="https://op.europa.eu/en/web/eu-vocabularies/authority-tables">Publications Office Authority Tables</a>.</p>

{% endblock %} 

{% block examples %}
<div class="h3 examples" id="ExampleEvidenceOfRoadworthiness">Example Evidence of roadworthiness</div>
{% endblock %}

{% block mappings %}
<section class="informative">
<h2>Mapping</h2>
<div>
This section offers a condensed tabular overview of the requirements mapping from OOTS to EUCARIS. 

<table id="table-mapping" class="simple" style="width:100%; table-layout: fixed; word-wrap:break-word;">
	<thead>
		<tr><th>Information requirement</th><th>EUCARIS Xpath</th><th>Note</th></tr>
	</thead>
	<tbody>
						
							<tr>
								<td>Vehicle Identification Number (VIN number or chassis number)</td>
                                <td>/xs:schema/xs:complexType[@name="AVIVehicleTechnicalDataType"]/xs:sequence[1]/xs:element[@name="VehicleIdentificationNumber"]</td>
								<td></td>
							</tr>
						
							<tr>
								<td>registration plate number of the vehicle and country symbol of the State of registration</td>
                                <td>/xs:schema/xs:complexType[@name="AVIVehicleRegistrationDataType"]/xs:sequence[1]/xs:element[@name="VehRegistrationNumber"]</td>
								<td></td>
							</tr>

							<tr>
								<td>vehicle category (if available)</td>
                                <td>/xs:schema/xs:complexType[@name="AVIVehicleTechnicalDataType"]/xs:sequence[1]/xs:element[@name="VehicleCategoryCode"]</td>
								<td></td>
							</tr>

							<tr>
								<td>Place of roadworthiness test</td>
                                <td>/xs:schema/xs:complexType[@name="AVIVehicleMileageDataType"]/xs:sequence[1]/xs:element[@name="MileageRecordings"]/xs:complexType[1]/xs:sequence[1]/xs:element[@name="MileageRecording"]/xs:complexType[1]/xs:sequence[1]/xs:element[@name="MileageRecordingCountryCode"]</td>
								<td></td>
							</tr>

							<tr>
								<td>Date of roadworthiness test</td>
                                <td>/xs:schema/xs:complexType[@name="AVIVehicleRegistrationDataType"]/xs:sequence[1]/xs:element[@name="VehRoadworthiness"]/xs:complexType[1]/xs:sequence[1]/xs:element[@name="VehRoadworthinessTestDate"]</td>
								<td></td>
							</tr>

							<tr>
								<td>odometer reading at the time of the roadworthiness test (if available)</td>
                                <td>/xs:schema/xs:complexType[@name="AVIVehicleMileageDataType"]/xs:sequence[1]/xs:element[@name="MileageRecordings"]/xs:complexType[1]/xs:sequence[1]/xs:element[@name="MileageRecording"]/xs:complexType[1]/xs:sequence[1]/xs:element[@name="Mileage"]</td>
								<td></td>
							</tr>

							<tr>
								<td>identified deficiencies and their level of severity</td>
                                <td>/xs:schema/xs:complexType[@name="AVIVehicleRegistrationDataType"]/xs:sequence[1]/xs:element[@name="Remarks"]</td>
								<td>"Remarks" could contain the information, but does not necessarily contain multiple string fields.</td>
							</tr>
							
							<tr>
								<td>result of the roadworthiness test</td>
                                <td>NA</td>
								<td>Not present in EUCARIS</td>
							</tr>

							<tr>
								<td>date of the next roadworthiness test or date of expiry of the current roadworthiness certificate (if this information is not provided by other means)</td>
                                <td>/xs:schema/xs:complexType[@name="AVIVehicleRegistrationDataType"]/xs:sequence[1]/xs:element[@name="VehRoadworthiness"]/xs:complexType[1]/xs:sequence[1]/xs:element[@name="VehRoadworthinessTestEndDate"]</td>
								<td></td>
							</tr>

							<tr>
								<td>name of roadworthiness testing organisation/centre</td>
                                <td>/xs:schema/xs:complexType[@name="AVIVehicleMileageDataType"]/xs:sequence[1]/xs:element[@name="MileageRecordings"]/xs:complexType[1]/xs:sequence[1]/xs:element[@name="MileageRecording"]/xs:complexType[1]/xs:sequence[1]/xs:element[@name="MileageRecordingOrganisation"]</td>
								<td></td>
							</tr>

							<tr>
								<td>signature/ identification of the inspector responsible for the roadworthiness test</td>
                                <td>/xs:schema/xs:complexType[@name="SigningAuthorityGroup"]/xs:sequence[1]/xs:element[@name="NameOfSigner"]</td>
								<td></td>
							</tr>
						
	</tbody>
</table>
</div>
</section>
{% endblock %}

{% block feedback %}
	<p>
		Please provide feedback on the <a href="https://ec.europa.eu/digital-building-blocks/wikis/x/ToRCLg">discussion forum</a>
	</p>
{% endblock %}