<section class="informative">
<h2>High Value Datasets</h2>

<p>
In light of the growing importance of data, the European Commission has adopted an <href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32023R0138">implementing act</a> focused on high-value datasets on 21 December 2022. 
The implementing regulation groups the datasets in a list of six high-value datasets thematic categories: geospatial, earth observation and environment, meteorological, statistics, companies and company ownership, and mobility. 
The <a href="https://data.europa.eu">portal for European data</a> has published an easy to read <a href="https://data.europa.eu/en/publications/datastories/high-value-datasets-overview-through-visualisation"> overview</a>.
</p>

<p>
This chapter provides the guidelines for how to use DCAT-AP for a dataset that is subject to the requirements imposed by the high-value dataset implementing act.

To understand the guidelines it is important to know that open data portals in Europe describe datasets that are within and outside scope of the high-value dataset implementing act in <strong>one</strong> catalogue.
Thus high-value dataset publishers can, and usually do, publish the datasets in ways and forms that are <strong>NOT</strong> described by the implementing act.
It is not the objective of the HVD guidelines for DCAT-AP to limit the use of DCAT-AP for datasets that are in scope to solely the requirements mentioned in this chapter.
Publishers are adviced to consider the guidelines also for the other ways of publishing.
Note: It is also not the objective to stimulate separate publication of the same data, one conforming to the minimal requirements by the high-value datasets and another according to local perspectives. 
The goal is to improve the publication of the datasets by imposing minimum quality criteria.
</p>


<!-- The guidelines, however, will stimulate the implementation of the HVD requirements.  -->




</section>
