<section id="conformance">
<h2>Conformance Statement</h2>

In order to conform to this vocabulary the usage of the terms MUST:
<ul>
    <li>Be in line with the provided definitions</li>
    <li>Satisfy the formal constraints such as domain and ranges restrictions, if present</li>
</ul>

When reusing the terms, the reuse principles of the SEMIC Style Guide SHOULD be followed.
<p/>
To make the properties widely reuseable the domain and ranges are usually very open.
For any kind of entity, the class <code>rdfs:Resource</code> is used.
For any kind of value, <code>rdfs:Literal</code> is used. 
In the RDF ecosystem these are the universal denominators. 

</section>
