{% extends "semic-voc_en.j2" %}

{% block respecconfig %}

    var respecConfig = {
      edDraftURI: "{{metadata.navigation.self}}",
      latestVersion: "{{metadata.navigation.prev}}",
      specStatus: "LD",
      publishDate: "{{ metadata.issued }}",
      editors: myeditors,
      authors: myauthors,
      github: "SEMICeu/CoreVocs",
      shortName: "{{metadata.title}}",
      xref: "web-platform",
      doJsonLd: true,
      logos: [{
        src: "https://semiceu.github.io/CPOV/releases/2.1.0/html/semic-icon.png",
        url: "https://semic.eu",
        alt: "SEMIC",
        width: 154,
        height: 140,
        id: "semic-logo",
      },],
      generatedSubtitle: "",
      additionalCopyrightHolders: "",
      localBiblio: {
        "DXWG": {
          "href" : "https://www.w3.org/2017/dxwg/wiki/Main_Page",
          "title" : "Dataset Exchange Working Group",
          "publisher" : "W3C"
          },
        "ISA":{
           "href":"https://ec.europa.eu/isa/",
           "title":"Interoperability Solutions for European Public Administrations (ISA)",
           "publisher":"European Commission"
          },
        "ISA2":{
          "href":"https://ec.europa.eu/isa2/",
          "title":"Interoperability solutions for public administrations, businesses and citizens (ISA²)",
          "publisher":"European Commission"
        },
        "SEMIC":{
          "href":"https://joinup.ec.europa.eu/",
          "title":"JoinUp welcomes Interoperable Europe",
          "publisher":"European Commission"
         },
        "DEU" : {
          "href":"https://data.europa.eu",
          "title":"The official portal for European data",
          "publisher":"European Commission"
        },
		"HVD" : {
		  "href":"https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32023R0138",
		  "title":"Implementing Regulation for High Value Datasets",
		  "publisher":"European Union"
		},
		"DCAT-AP-HVD" : {
		  "href":"https://semiceu.github.io/uri.semic.eu-generated/DCAT-AP/releases/2.2.0-hvd/",
		  "title":"Usage Guidelines of DCAT-AP for High-Value Datasets",
		  "publisher":"European Commission"
		},
		"DCAT-AP" : {
		  "href":"https://semiceu.github.io/DCAT-AP/releases/3.0.0/",
		  "title":"DCAT-AP, a DCAT profile for European data portals",
		  "publisher":"European Commission"
		},
                "PSI" : {
                  "href": "https://eur-lex.europa.eu/eli/dir/2019/1024/oj",
                  "title" :  "Directive on open data and the re-use of public sector information (recast)",
                  "publisher" : "European Union"
                }
      }
    };

{% endblock %}

{% block introduction %}
<h3>Context</h3>

This vocabulary is <strong>supporting</strong> the Core Vocabularies [[CORE-VOCS]]. 
The terms defined in this namespace are defined as broad as possible for wider reuse but are scoped to the needs of Core Vocabularies. 
All terms in this vocabulary have therefore a strong connection with one or more Core Vocabularies.
<p/>


<h3>Revision history</h3>


<h3>Meeting minutes</h3>
The following webinars have been held for the creation of this release
    <ul>
       <li>Webinar 2 February 2023 (<a href="https://joinup.ec.europa.eu/sites/default/files/inline-files/20230202%20Webinar%20DCAT-AP.pdf">Meeting Minutes</a>, <a href="https://www.youtube.com/watch?v=teUeMLwv4Ks">recording</a>, <a href="https://joinup.ec.europa.eu/sites/default/files/inline-files/webinar_2_feb_2022_DCAT-AP_v.0.3.pdf">slides</a>) </li>
   </ul>


</p>



{% endblock %}


{% block summary %}
<section id="abstract">
    <h2>Abstract</h2>
The m8g vocabulary supports the Core Vocabularies. 
The namespace for this vocabulary is <code>http://data.europa.eu/m8g/</code> . 
It is under maintenance by the SEMIC action, Interoperable Europe.
</section>
{% endblock %}

{% block terminology %}
<section id="specterminology">
    <h2>Terminology</h2>

The namespace for this vocabulary is <code>http://data.europa.eu/m8g/</code> . 
<p>
<h3>Used Prefixes</h3>


        <table id="table-namespaces" class="simple">
            <thead><tr><th>Prefix</th><th>Namespace IRI</th></tr></thead>
            <tbody>
            <tr><td><code>dcat</code></td><td><code>http://www.w3.org/ns/dcat#</code></td></tr>
            <tr><td><code>dcatap</code></td><td><code>http://data.europa.eu/r5r/</code></td></tr>
            <tr><td><code>cv</code></td><td><code>http://data.europa.eu/m8g/</code></td></tr>
            <tr><td><code>rdf</code></td><td><code>http://www.w3.org/1999/02/22-rdf-syntax-ns#</code></td></tr>
            <tr><td><code>rdfs</code></td><td><code>http://www.w3.org/2000/01/rdf-schema#</code></td></tr>
            <tr><td><code>skos</code></td><td><code>http://www.w3.org/2004/02/skos/core#</code></td></tr>
            <tr><td><code>xsd</code></td><td><code>http://www.w3.org/2001/XMLSchema#</code></td></tr>
            </tbody>
        </table>

</section>
{% endblock %}

{% block conformance %}
  {% include "m8g-conformance.j2" ignore missing %}
{% endblock %}

{% block deprecation %}
  {% include "m8g-deprecated.j2" ignore missing %}
{% endblock %}



{% block usages %} 
  {% include "m8g-cv.j2" ignore missing %}
{% endblock %}

