{% extends "semic-voc_en.j2" %}

{% block respecconfig %}

    var respecConfig = {
      edDraftURI: "{{metadata.navigation.self}}",
      latestVersion: "{{metadata.navigation.prev}}",
      specStatus: "LD",
      publishDate: "{{ metadata.issued }}",
      editors: myeditors,
      authors: myauthors,
      github: "SEMICeu/CoreVocs",
      shortName: "{{metadata.title}}",
      xref: "web-platform",
      doJsonLd: true,
      logos: [{
        src: "https://semiceu.github.io/CPOV/releases/2.1.0/html/semic-icon.png",
        url: "https://semic.eu",
        alt: "SEMIC",
        width: 154,
        height: 140,
        id: "semic-logo",
      },],
      generatedSubtitle: "",
      additionalCopyrightHolders: "",
      localBiblio: {
        "DXWG": {
          "href" : "https://www.w3.org/2017/dxwg/wiki/Main_Page",
          "title" : "Dataset Exchange Working Group",
          "publisher" : "W3C"
          },
        "ISA":{
           "href":"https://ec.europa.eu/isa/",
           "title":"Interoperability Solutions for European Public Administrations (ISA)",
           "publisher":"European Commission"
          },
        "ISA2":{
          "href":"https://ec.europa.eu/isa2/",
          "title":"Interoperability solutions for public administrations, businesses and citizens (ISA²)",
          "publisher":"European Commission"
        },
        "SEMIC":{
          "href":"https://joinup.ec.europa.eu/",
          "title":"JoinUp welcomes Interoperable Europe",
          "publisher":"European Commission"
         },
        "DEU" : {
          "href":"https://data.europa.eu",
          "title":"The official portal for European data",
          "publisher":"European Commission"
        },
		"HVD" : {
		  "href":"https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32023R0138",
		  "title":"Implementing Regulation for High Value Datasets",
		  "publisher":"European Union"
		},
		"DCAT-AP-HVD" : {
		  "href":"https://semiceu.github.io/uri.semic.eu-generated/DCAT-AP/releases/2.2.0-hvd/",
		  "title":"Usage Guidelines of DCAT-AP for High-Value Datasets",
		  "publisher":"European Commission"
		},
		"DCAT-AP" : {
		  "href":"https://semiceu.github.io/DCAT-AP/releases/3.0.0/",
		  "title":"DCAT-AP, a DCAT profile for European data portals",
		  "publisher":"European Commission"
		},
                "PSI" : {
                  "href": "https://eur-lex.europa.eu/eli/dir/2019/1024/oj",
                  "title" :  "Directive on open data and the re-use of public sector information (recast)",
                  "publisher" : "European Union"
                }
      }
    };

{% endblock %}

{% block introduction %}

This vocabularium is <strong>supporting</strong> <a href="https://joinup.ec.europa.eu/collection/semic-support-centre/solution/e-government-core-vocabularies">the Core Vocabularies</a>. 
The terms defined in this namespace are defined as broad as possible for wider reuse but are scoped to the needs of Core Vocabularies. 
All terms in this vocabularium therefore a strong connection with one or more Core Vocabularies.

{% endblock %}


{% block summary %}
<section id="abstract">
    <h2>Abstract</h2>
The m8g vocabularium supports the Core Vocabularies. 
The namespace for this vocabulary is <code>http://data.europa.eu/m8g/</code> . 
It is under maintenance by the SEMIC action, Interoperable Europe.
</section>
{% endblock %}

{% block status %}
<section id="specstatus">
    <h2>Status</h2>
        <p>
            This vocabulary has the status {{ metadata.documentconfig.statuslabel if metadata.documentconfig.statuslabel else metadata.statuslabel }}</a> published at {{ metadata.issued }}.
        </p>
        <p>
            Information about the process and the decisions involved in the creation of this vocabularium are consultable on the respective Core Vocabulary pages.
            <ul>
                <li> <a href="https://github.com/SEMICeu/CCCEV">CCCEV</a></li>
                <li> <a href="https://github.com/SEMICeu/CPOV">Core Public Organisation Vocabulary</a></li>
                <li> <a href="https://github.com/SEMICeu/Core-Business-Vocabulary">Core Business Vocabulary</a></li>
                <li> <a href="https://github.com/SEMICeu/Core-Person-Vocabulary">Core Person Vocabulary</a></li>
                <li> <a href="https://github.com/SEMICeu/Core-Location-Vocabulary">Core Location Vocabulary</a></li>
                <li> <a href="https://github.com/SEMICeu/Core-Public-Event-Vocabulary">Core Public Event Vocabulary</a></li>
            </ul>
        </p>
</section>
{% endblock %}

{% block terminology %}
<section id="specterminology">
    <h2>Terminology</h2>

The namespace for this vocabulary is <code>http://data.europa.eu/m8g/</code> . 
<p>
<h3>Used Prefixes</h3>


        <table id="table-namespaces" class="simple">
            <thead><tr><th>Prefix</th><th>Namespace IRI</th></tr></thead>
            <tbody>
            <tr><td><code>dcat</code></td><td><code>http://www.w3.org/ns/dcat#</code></td></tr>
            <tr><td><code>dcatap</code></td><td><code>http://data.europa.eu/r5r/</code></td></tr>
            <tr><td><code>cv</code></td><td><code>http://data.europa.eu/m8g/</code></td></tr>
            <tr><td><code>rdf</code></td><td><code>http://www.w3.org/1999/02/22-rdf-syntax-ns#</code></td></tr>
            <tr><td><code>rdfs</code></td><td><code>http://www.w3.org/2000/01/rdf-schema#</code></td></tr>
            <tr><td><code>skos</code></td><td><code>http://www.w3.org/2004/02/skos/core#</code></td></tr>
            <tr><td><code>xsd</code></td><td><code>http://www.w3.org/2001/XMLSchema#</code></td></tr>
            </tbody>
        </table>

</section>
{% endblock %}

{% block conformance %}
  {% include "m8g-conformance.j2" ignore missing %}
{% endblock %}

{% block deprecation %}
  {% include "m8g-deprecated.j2" ignore missing %}
{% endblock %}



{% block usages %} 
  {% include "m8g-cv.j2" ignore missing %}
{% endblock %}

