<section class="informative">
  <h2>Support for implementation</h2>

The following section provides support for implementing the {{metadata.title}}.
<p/>

<h3>JSON-LD context file</h3>

One common technical question is the format in which the data is being exchanged. 
For conformance with the {{metadata.title}}, it is not mandatory that this happens in an RDF serialisation, but the exchanged format SHOULD be unambiguously transformable into RDF.
For the format JSON, a popular format to exchange data between systems, SEMIC provides a <a href="./context/{{metadata.filename}}.jsonld">JSON-LD context file</a>. 
JSON-LD is a W3C Recommendation [[[json-ld11]]] that provided a standard approach to interpret JSON structures as RDF.
The provided JSON-LD context file can be used by implementers.
This JSON-LD context is not normative, i.e. other JSON-LD contexts are allowed.
<p/>
The JSON-LD context file is downloadable <a href="./context/{{metadata.filename}}.jsonld">here</a>.
<p/>

<h3>Validation</h3>

To verify if the data is (technically) conformant to the {{metadata.title}}, the exchanged data can be validated using the provided SHACL shapes. 
SHACL is a W3C Recommendation to express constraints on an RDF knowledge graph. 
<p/>
To support the check whether or not a catalogue satisfies the expressed constraints in this Application Profile, the constraints in this specification are expressed using SHACL [[shacl]].
Each constraint in this specification that could be converted into a SHACL expression has been included.
As such this collection of SHACL expressions can be used to build a validation check for data. 
<p/>
It is up to the implementers to define the validation they expect.
Each implementation happens within a context, and that context is beyond the SHACL expressions here.
<p/>
The shapes can be found <a href="./shacl/{{metadata.filename}}-SHACL.ttl">here</a>.

<p>
The Interoperability Test Bed (ITB) provides a <a href="https://www.itb.ec.europa.eu/shacl/semic-shacl/upload">SEMIC SHACL validation service</a> where it is possible to validate for MLDCAT-AP reusing the linked shapes.
There are 4 types of validation for this version:
<ul>
<li><b>3.1.0</b>: to validate against the data model version 3.1.0</li>
<li><b>3.1.0 for AI Office</b>: to validate against the data model + the <a href="https://digital-strategy.ec.europa.eu/en/policies/contents-code-gpai#ecl-inpage-the-3-chapters-of-the-code">transparency requirements</a> for the AI Office coming for the AI Code Of Practice</li>
<li><b>3.1.0 for Downstream Providers</b>: to validate against the data model + the <a href="https://digital-strategy.ec.europa.eu/en/policies/contents-code-gpai#ecl-inpage-the-3-chapters-of-the-code">transparency requirements</a> for the Downstream providers coming for the AI Code Of Practice</li>
<li><b>3.1.0 for National Competent Authority</b>: to validate against the data model + the <a href="https://digital-strategy.ec.europa.eu/en/policies/contents-code-gpai#ecl-inpage-the-3-chapters-of-the-code">transparency requirements</a> for the National Competent Authorities coming for the AI Code Of Practice</li>
</ul> 

The additional shapes can be found in the <a href="https://github.com/SEMICeu/semic-shacl-validator/tree/main/resources/semic-shacl">SEMIC SHACL validator</a> repository.

The examples in this specification can be validated via the <a href="https://www.itb.ec.europa.eu/shacl/swagger-ui/index.html">ITB REST API</a>.
</p>

<h3>UML representation</h3>
The UML representation from which the {{metadata.title}} has been build is available <a href="{{repourl}}/uml">here</a>.

<!--
<h3>Mapping</h3>
A mapping towards Schema.org can be found <a href="https://github.com/SEMICeu/Semantic-Mappings/tree/main/Core%20Location">here</a>
<p/>
-->

</section>