<section id="validation" class="informative">
<h2>Validation</h2>

To support the assessment if the data statisfies the expressed requirements, the following SHACL templates are provided.

The file <a href="{{ metadata.documentconfig.editorDocumentroot if metadata.documentconfig.editorDocumentroot else documentroot }}/shacl/rrmv-SHACL.ttl">rrmv-SHACL.ttl</a> is the generated SHACL representation.


</section>


<section id="owl-representation" class="informative">
<h2>OWL Representation</h2>

A OWL representation that corresponds to this specification can be found at <a href="https://code.europa.eu/regulatory-reporting/rrmv/-/blob/main/docs/current/rrmv-v2.owl?ref_type=heads">rrmv.owl</a>

</section>
