{% extends "semic-ap_en.j2" %}

{% block respecconfig %}

    var respecConfig = {
      postProcess: [quickreference],
      edDraftURI: "{{metadata.navigation.next}}",
      thisVersionURI: "{{metadata.navigation.self}}",
      prevVersionURI: "{{metadata.navigation.prev}}",
      latestVersion: "{{metadata.navigation.self}}",
      specStatus: "base",
      publishDate: "{{ metadata.issued }}",
      editors: myeditors,
      authors: myauthors,
      otherLinks: [
        {
          key: "Owners:",
          data: myowners
        }
        {% if metadata.navigation.prev %}
        ,
        { key: " Previous version:",
          data: [
            { value: "{{metadata.navigation.prev}}",
              href: "{{metadata.navigation.prev}}"
            }
          ]
        }
        {% endif %}
        ,
        { key: " This version:",
          data: [
            { value: "{{metadata.navigation.self}}",
              href: "{{metadata.navigation.self}}"
            }
          ]
        }
        {% if metadata.navigation.next %}
        ,
        { key: " Next version:",
          data: [
            { value: "{{metadata.navigation.next}}",
              href: "{{metadata.navigation.next}}"
            }
          ]
        }
        {% endif %}
      ],
      github: "SEMICeu/RRMV",
      shortName: "{{metadata.title}}",
      xref: "web-platform",
      doJsonLd: true,
      logos: [{
        src: "https://semiceu.github.io/CPOV/releases/2.1.0/html/semic-icon.png",
        url: "https://semic.eu",
        alt: "SEMIC",
        width: 154,
        height: 140,
        id: "semic-logo",
      },],
      subtitle: "{{ metadata.documentconfig.statuslabel if metadata.documentconfig.statuslabel else metadata.statuslabel }}",
      generatedSubtitle: "",
      additionalCopyrightHolders: "",
      localBiblio: {
        "ISA":{
           "href":"https://ec.europa.eu/isa/",
           "title":"Interoperability Solutions for European Public Administrations (ISA)",
           "publisher":"European Commission"
          },
        "ISA2":{
          "href":"https://ec.europa.eu/isa2/",
          "title":"Interoperability solutions for public administrations, businesses and citizens (ISA²)",
          "publisher":"European Commission"
        },
        "SEMIC":{
          "href":"https://ec.europa.eu/isa2/actions/improving-semantic-interoperability-european-egovernment-systems_en",
          "title":"Interoperability solutions for public administrations, businesses and citizens (ISA²). Improving semantic interoperability in European eGovernment systems",
          "publisher":"European Commission"
         },
        "DEU" : {
          "href":"https://data.europa.eu",
          "title":"The official portal for European data",
          "publisher":"European Commission"
        },
       "ADMS1" : {
	  "href" : "https://joinup.ec.europa.eu/collection/support-centre/solution/asset-description-metadata-schema-adms/release/100",
          "title" : "ADMS 1.00, 1ste version of ADMS as defined by the European Commission ISA Programme",
	  "publisher" : "European Commission"
	},
       "WG-GLD" : {
	  "href" : "http://www.w3.org/2011/gld/",
          "title" : "Government Linked Data Working Group (Closed community group)",
          "publisher" : "W3C"
        },
       "NAL-FileType" : {
	  "href" : "http://publications.europa.eu/resource/authority/file-type",
          "title" : "Named Authority List File Type",
	  "publisher" : "Publication Office of the EU, EU Vocabularies"
	},
       "NAL-Licence" : {
	  "href" : "http://publications.europa.eu/resource/authority/licence",
          "title" : "Named Authority List Licence", 
	  "publisher" : "Publication Office of the EU, EU Vocabularies"
	},
       "codelist-adms" : {
	  "href" : "purl.org/adms/",
          "title" : "Controlled Vocabularies supporting the ADMS vocabulary.",
	  "publisher" : "European Commission, Interoperable Europe"
	},
        "IdentifierGuidelines":{
          "href":"https://github.com/SEMICeu/DCAT-AP/blob/2.x.y-draft/releases/2.x.y/usageguide-identifiers.md",
          "title":"Guidelines on the management of identifiers",
          "publisher":"European Commission"
         },
        "HVD" : {
           "href":"https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32023R0138",
           "title" : "Implementing Regulation for High Value Datasets",
           "publisher":"European Commission"
        },
        "BCP4715" : {
          "href" : "https://www.rfc-editor.org/info/bcp47",
          "title" : "Tags for Identifying Languages, BCP 47, RFC 5646, DOI 10.17487/RFC5646, September 2009", 
          "publisher" : "Phillips, A., Ed., and M. Davis, Ed."
	},
        "ELI" : {
          "href" : "https://op.europa.eu/en/web/eu-vocabularies/dataset/-/resource?uri=http://publications.europa.eu/resource/dataset/eli",
          "title" : "The ELI ontology",
          "publisher": "European Commision, Publication Office"
        },
        "FRBOO" : {
          "href" : "https://www.iflastandards.info/fr/frbr/frbroo",
          "title" : " FRBRoo model; Element set of the Functional Requirements for Bibliographic Records object-oriented extension to the the CIDOC Conceptual Reference Model (CRM)",
          "publisher" : "LIDATEC (a subcommittee of the IFLA Advisory Committee on Standards)"

        }

      }
    };

{% endblock %}



{% block introduction %}

<p>As EU policies evolve, the demand for data in the form of reporting requirements from Member States and other stakeholders continues to grow. This may potentially lead to an increase in the regulatory reporting burden, as stakeholders need to increasingly monitor regulations to be fully compliant with them.</p>  
  
<p>To address this issue, the European Commission, in its <a href="https://commission.europa.eu/system/files/2023-03/Communication_Long-term-competitiveness.pdf">16 March 2023 Communication on the Long-term competitiveness of the EU</a>, committed to "make a fresh push to rationalize and simplify reporting requirements for companies and administrations with first proposals for each of the green, digital and economic thematic areas before the autumn. The aim should be to reduce such burdens by 25%, without undermining the related policy objectives.”</p>  
  
<p>In line with this effort, streamlining regulatory reporting burdens has been identified as a critical policy need for the European Commission's proposals. The European Commission aims to eliminate redundancies and harmonise reporting requirements to assist policy officers in understanding existing frameworks in detail. By avoiding duplicate requests and considering factors such as dates and reporting frequencies, the Commission seeks to optimise new requirements effectively.</p>  
  
<p>These efforts translated into the <a href="https://interoperable-europe.ec.europa.eu/collection/better-legislation-smoother-implementation/news/streamlining-regulatory-reporting-sortis-project-results">Study on Regulatory Reporting Standards (SORTIS)</a>, a combined effort of the University of Bologna, the University of Liège, and the European Commission. The project aimed to define a vocabulary to standardise and organise regulatory reporting metadata of EU legislations and to develop standard formulations to be able to identify the appropriate data of reporting requirements.</p>  
  
<p>The results of this study included a definition of a model known as Reporting Requirements Metadata Vocabulary (RRMV). This model aimed at defining the set of concepts and categories contained in reporting requirements within existing EU legislations and define their properties and the relations between them. It could serve as a base for interoperable reporting requirements monitoring solutions that could extract information and automatically feed regulatory reporting databases across different policy domains to be accessed by stakeholders.</p>  
  
<p>The aim of the model is to assist in the policy drafting process by automatically feeding a reporting requirements monitoring solution in turn minimising the duplication of reporting requirements.</p> 


<h3>Context</h3>
<p>This document describes the Regulatory Reporting Metadata Vocabulary that was developed in the context of the SORTIS initiative.</p>  
    <p>To provide attribution and reference to all actors, the RRMV model as developed under the SORTIS study can be found in an RDF format (Turtle) and below in a visual representation:</p>  
         <div>
        <a href="https://github.com/SEMICeu/Reporting-Requirements-Metadata-Vocabulary/releases/0.0.1/html/OriginalSORTISmodel.png" target="_blank">
            <img src="https://github.com/SEMICeu/Reporting-Requirements-Metadata-Vocabulary/releases/0.0.1/html/OriginalSORTISmodel.png"/>
        </a>
    </div>
<p>The purpose of this vocabulary is to provide the minimum necessary concepts to describe a request, originating from a legal resource, the resulting action, and several key concepts related to its execution.</p

<h3>Scope</h3>

<p>The scope of the Reporting Requirements Metadata Vocabulary model is defined as the following: To standardize and organize regulatory reporting metadata of EU legislations through a defined vocabulary.</p>  
 


<h3>Background references</h3>
[[owl-time]]




<h3>Meeting minutes</h3>
     <ul>
    <li>RRMV Community Meeting 1 (<a href="https://eceuropaeu.sharepoint.com/:w:/r/teams/GRP-Digital-readylegislation-RegReppilot/Shared%20Documents/RRMV%20-%20Reporting%20Requirement%20Metadata%20Vocabulary/R
RMV%20Working%20Folder/Community%20meeting%201/Minutes/Meeting%20Minutes%20Open%20Review%20RRMV%2020_11_14.docx?d=w7d834f80543e412d84f747958a319b17&csf=1&web=1&e=wq7dA1">Meeting Minutes</a>, 
           <a href="https://eceuropaeu.sharepoint.com/:v:/r/teams/GRP-Digital-readylegislation-RegReppilot/Shared%20Documents/RRMV%20-%20Reporting%20Requirement%20Metadata%20Vocabulary/RRMV%20Working%20Folder/
Community%20meeting%201/Recording/RRMV%20community%20meeting%20-%2020241120_100519.mp4?csf=1&web=1&e=DgI9K2">recording</a>, 
           <a href="https://eceuropaeu.sharepoint.com/:p:/r/teams/GRP-Digital-readylegislation-RegReppilot/Shared%20Documents/RRMV%20-%20Reporting%20Requirement%20Metadata%20Vocabulary/RRMV%20Working%20Folder/
Community%20meeting%201/Slides/RRMV_Open_Review_Final.pptx?d=w833883d5578d48bb88ebb62221356717&csf=1&web=1&e=UvLNSc">slides</a>) </li>
     </ul>


{% endblock %}

{% block summary %}
<section id="abstract">
    <h2>Summary</h2>


The Regulatory Reporting Metadata Vocabulary is a vocabulary to express regulary reporting information that is expressed in legislation. 
It is developed in the context of the SORTIS initiative. 
The purpose of this vocabulary is to provide the minimum necessary concepts to describe a reporting request, originating from a legal resource, 
the resulting action and several key concepts related to its execution. 
Through this vocabulary, redundancies will be eliminated and reporting requirements will be harmonised to assist policy officers. 
The aim should be to reduce such burdens by 25%, without undermining the related policy objectives. 
    
        
</section>
{% endblock %}


{% block terminology %}

{% include "rrmv-conformance.j2" ignore missing %}

<section id="specterminology">
<h2>Terminology</h2>
<p>
An <strong>Application Profile</strong> is a specification that reuses terms from one or more base standards, adding more specificity by identifying mandatory, recommended and optional elements to be used for a particular application, as well as recommendations for controlled vocabularies to be used.
</p><p>
An <strong>Annex to an Application Profile</strong> is a specification that precises the use of some aspects of the Application Profile for a specific context. 

</p><p>
</p>

This specification uses the following prefixes to shorten the URIs for readibility.


        <table id="table-namespaces" class="simple">
            <thead><tr><th>Prefix</th><th>Namespace IRI</th></tr></thead>
            <tbody>
            <tr><td><code>adms</code></td><td><code>http://www.w3.org/ns/adms#</code></td></tr>
            <tr><td><code>dcat</code></td><td><code>http://www.w3.org/ns/dcat#</code></td></tr>
            <tr><td><code>dcatap</code></td><td><code>http://data.europa.eu/r5r/</code></td></tr>
            <tr><td><code>dct</code></td><td><code>http://purl.org/dc/terms/</code></td></tr>
            <tr><td><code>foaf</code></td><td><code>http://xmlns.com/foaf/0.1/</code></td></tr>
            <tr><td><code>rdf</code></td><td><code>http://www.w3.org/1999/02/22-rdf-syntax-ns#</code></td></tr>
            <tr><td><code>rdfs</code></td><td><code>http://www.w3.org/2000/01/rdf-schema#</code></td></tr>
            <tr><td><code>skos</code></td><td><code>http://www.w3.org/2004/02/skos/core#</code></td></tr>
            <tr><td><code>vcard</code></td><td><code>http://www.w3.org/2006/vcard/ns#</code></td></tr>
            <tr><td><code>xsd</code></td><td><code>http://www.w3.org/2001/XMLSchema#</code></td></tr>
            </tbody>
        </table>

</section>
{% endblock %}


{% block overviewintro %}


<h3>Application profile diagram</h3>
<p>
An overview of RRMV is shown by the UML diagram below. 
The UML diagram illustrates the specification described in this document. 
For readability purposes the representation has been condensed as follows:
<ul>
<li> The figure contains the key classes with some important supporting classes. Other object properties (relationships) are listed as properties on the UML class with their target range.</li>
<li> The ELI classes <a href="#Expression">Expression</a>, <a href="#Work">Work</a> and <a href="#Manifestation">Manifestation</a> are included to see the connection with legislation.</li>
</ul>
The cardinalities and qualifications are included in the figure.
</p><p>
</p>
{% endblock %}



{% block conformance %}
{% endblock %}


{% block usages %} 
  {% include "rrmv-cv.j2" ignore missing %}
  {% include "rrmv-guidelines.j2" ignore missing %}
  {% include "rrmv-examples.j2" ignore missing %}
  {% include "rrmv-usage.j2" ignore missing %}
  {% include "rrmv-implementation.j2" ignore missing %}
  {% include "rrmv-validation.j2" ignore missing %}
{% endblock %}

