{% extends "srm-profile-ap_en.j2" %}

{% block respecconfig %}

    var respecConfig = {
      postProcess: [quickreference],
      edDraftURI: "{{metadata.navigation.self}}",
      latestVersion: "{{metadata.navigation.prev}}",
      specStatus: "LD",
      publishDate: "{{ metadata.issued }}",
      editors: myeditors,
      authors: myauthors,
      github: "SEMICeu/SRM",
      shortName: "{{metadata.title}}",
      xref: "web-platform",
      doJsonLd: true,
      logos: [{
        src: "https://semiceu.github.io/CPOV/releases/2.1.0/html/semic-icon.png",
        url: "https://semic.eu",
        alt: "SEMIC",
        width: 154,
        height: 140,
        id: "semic-logo",
      },],
      generatedSubtitle: "",
      additionalCopyrightHolders: "",
      localBiblio: {
        "DXWG": {
          "href" : "https://www.w3.org/2017/dxwg/wiki/Main_Page",
          "title" : "Dataset Exchange Working Group",
          "publisher" : "W3C"
          },
        "ISA":{
           "href":"https://ec.europa.eu/isa/",
           "title":"Interoperability Solutions for European Public Administrations (ISA)",
           "publisher":"European Commission"
          },
        "ISA2":{
          "href":"https://ec.europa.eu/isa2/",
          "title":"Interoperability solutions for public administrations, businesses and citizens (ISA²)",
          "publisher":"European Commission"
        },
        "SEMIC":{
          "href":"https://joinup.ec.europa.eu/",
          "title":"JoinUp welcomes Interoperable Europe",
          "publisher":"European Commission"
         },
        "DEU" : {
          "href":"https://data.europa.eu",
          "title":"The official portal for European data",
          "publisher":"European Commission"
        },
		"HVD" : {
		  "href":"https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32023R0138",
		  "title":"Implementing Regulation for High Value Datasets",
		  "publisher":"European Union"
		},
		"DCAT-AP-HVD" : {
		  "href":"https://semiceu.github.io/uri.semic.eu-generated/DCAT-AP/releases/2.2.0-hvd/",
		  "title":"Usage Guidelines of DCAT-AP for High-Value Datasets",
		  "publisher":"European Commission"
		},
                "PSI" : {
                  "href": "https://eur-lex.europa.eu/eli/dir/2019/1024/oj",
                  "title" :  "Directive on open data and the re-use of public sector information (recast)",
                  "publisher" : "European Union"
                }
      }
    };

{% endblock %}


{% block introduction %}
<p>
  SRM has been conceived to find and search semantic models withing the Semantic Registry.
</p>
<p>
  SRM is designed to meet the following use cases:
  <ul>
    <li>facilitating the access to semantic models;</li>
    <li>building user-centric registry of semantic models so end users are able to find them quickly; and</li>
	<li>incentive communities to collaborate on semantic models.</li>
  </ul>
</p>
<p>
  The specification of the SRM is represented in a UML class diagram.
  The figure here beneath shows the full profile which includes:
  <ul>
    <li>The class that define the semantic models;</li>
    <li>The classes and properties that describe the Organization behind the specification and ContactPoint; and </li>
    <li>The different ways a sematic model is provided .</li> 
</p>
{% endblock %}


{% block summary %}
<section id="abstract">
    <h2>Abstract</h2>
SRM (Semantic Registry Model) is designed to accomodate metadata to be used by the Semantic Registry.
</section>
{% endblock %}

{% block terminologyPrefixes %}
This specification uses the following prefixes to shorten the URIs for readibility.

<table id="table-namespaces" class="simple">
	<thead><tr><th>Prefix</th><th>Namespace IRI</th></tr></thead>
	<tbody>
		<tr><td><code>adms</code></td><td><code>http://www.w3.org/ns/adms#</code></td></tr>
		<tr><td><code>cv</code></td><td><code>http://data.europa.eu/m8g/</code></td></tr>
		<tr><td><code>dcat</code></td><td><code>http://www.w3.org/ns/dcat#</code></td></tr>
		<tr><td><code>dct</code></td><td><code>http://purl.org/dc/terms/</code></td></tr>
		<tr><td><code>foaf</code></td><td><code>http://xmlns.com/foaf/0.1/</code></td></tr>
		<tr><td><code>owl</code></td><td><code>http://www.w3.org/2002/07/owl#</code></td></tr>
		<tr><td><code>prof</code></td><td><code>http://www.w3.org/ns/dx/prof/</code></td></tr>
		<tr><td><code>rdf</code></td><td><code>http://www.w3.org/1999/02/22-rdf-syntax-ns#</code></td></tr>
		<tr><td><code>rdfs</code></td><td><code>http://www.w3.org/2000/01/rdf-schema#</code></td></tr>
		<tr><td><code>skos</code></td><td><code>http://www.w3.org/2004/02/skos/core#</code></td></tr>
		<tr><td><code>vcard</code></td><td><code>http://www.w3.org/2006/vcard/ns#</code></td></tr>
		<tr><td><code>xsd</code></td><td><code>http://www.w3.org/2001/XMLSchema#</code></td></tr>
	</tbody>
</table>

{% endblock %}

{% block examples %}
<div class="h3 examples" id="example-rdf_cellar">Example <a href="https://publications.europa.eu/webapi/rdf/sparql?default-graph-uri=&query=prefix+cdm%3A+%3Chttp%3A%2F%2Fpublications.europa.eu%2Fontology%2Fcdm%23%3E%0D%0Aprefix+dct%3A+%3Chttp%3A%2F%2Fpurl.org%2Fdc%2Fterms%2F%3E%0D%0Aprefix+cssv%3A+%3Chttps%3A%2F%2Fdata.europa.eu%2F2sa%2Fcssv%23%3E%0D%0A%0D%0Aselect+*%0D%0Awhere+%7B%0D%0A%3Chttp%3A%2F%2Fdata.europa.eu%2F2sa%2Fcssv%2Frsc%2Fe9bb09990f610bec081e4275f7a49d6a4cdf7df89e3903a5daff682135f02c35%3E+%3Fp+%3Fo+%0D%0A%7D%0D%0A%0D%0A&format=text%2Fhtml&timeout=0&debug=on&run=+Run+Query+">Core Person</a> taken from Cellar</div>
<br/>
<div class="h3 examples" id="example-rdf_schema-gov-it">Example <a href="https://schema.gov.it/sparql?default-graph-uri=&query=select+distinct+%3Fprop+%3Fvalue+where+%7B+%3Chttps%3A%2F%2Fw3id.org%2Fitalia%2Fonto%2FCPV%3E+%3Fprop+%3Fvalue%7D%0D%0A&format=text%2Fhtml&timeout=0&signal_void=on">CPV-AP_IT</a> taken from Schema.gov.it</div>
{% endblock %}