{% extends "ttpa_respec_en.j2" %}

{% block respecconfig %}

    var respecConfig = {
      postProcess: [quickreference],
      edDraftURI: "{{metadata.navigation.self}}",
      latestVersion: "{{metadata.navigation.prev}}",
      specStatus: "Draft",
      publishDate: "{{ metadata.issued }}",
      editors: myeditors,
      authors: myauthors,
      github: "SEMICeu/TTPA",
      shortName: "{{metadata.title}}",
      xref: "web-platform",
      doJsonLd: true,
      logos: [{
        src: "https://semiceu.github.io/CPOV/releases/2.1.0/html/semic-icon.png",
        url: "https://semic.eu",
        alt: "SEMIC",
        width: 154,
        height: 140,
        id: "semic-logo",
      },],
      generatedSubtitle: "",
      additionalCopyrightHolders: "",
      localBiblio: {
        "DXWG": {
          "href" : "https://www.w3.org/2017/dxwg/wiki/Main_Page",
          "title" : "Dataset Exchange Working Group",
          "publisher" : "W3C"
          },
        "ISA":{
           "href":"https://ec.europa.eu/isa/",
           "title":"Interoperability Solutions for European Public Administrations (ISA)",
           "publisher":"European Commission"
          },
        "ISA2":{
          "href":"https://ec.europa.eu/isa2/",
          "title":"Interoperability solutions for public administrations, businesses and citizens (ISA²)",
          "publisher":"European Commission"
        },
        "SEMIC":{
          "href":"https://joinup.ec.europa.eu/",
          "title":"JoinUp welcomes Interoperable Europe",
          "publisher":"European Commission"
         },
        "DEU" : {
          "href":"https://data.europa.eu",
          "title":"The official portal for European data",
          "publisher":"European Commission"
        },
		"HVD" : {
		  "href":"https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:32023R0138",
		  "title":"Implementing Regulation for High Value Datasets",
		  "publisher":"European Union"
		},
		"DCAT-AP-HVD" : {
		  "href":"https://semiceu.github.io/uri.semic.eu-generated/DCAT-AP/releases/2.2.0-hvd/",
		  "title":"Usage Guidelines of DCAT-AP for High-Value Datasets",
		  "publisher":"European Commission"
		},
                "PSI" : {
                  "href": "https://eur-lex.europa.eu/eli/dir/2019/1024/oj",
                  "title" :  "Directive on open data and the re-use of public sector information (recast)",
                  "publisher" : "European Union"
                }
      }
    };

{% endblock %}


{% block introduction %}
<p>
	The TTPA Application Profile provides a minimal set of classes.
  These are intended to support <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=OJ:L_202400900#cpt_II">Chapter II to the Regulation (EU) 2024/900 of the European Parliament and of the Council and </a> <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=OJ:L_202501410#anx_I">annex to the Regulation (EU) 2025/1410 of the European Parliament and of the Council</a>. 
</p>
{% endblock %}


{% block summary %}
<section id="abstract">
    <h2>Abstract</h2>
The TTPA Application Profile is
a data model that provides a minimum set of classes and properties for the European repository for online political advertisements.
</section>
{% endblock %}

{% block examples %}
<h3 class="h3 examples" id="example-poladseu-EPH58">Example <a href="https://polads.eu/en/EPH58?ref=search&q=EPH58">EPH58</a> Radio & Podcast Political Advertisement Transparency Notice</h3>
{% endblock %}

{% block mappings %}
{% endblock %}

{% block terminology %}
<section id="specterminology">
    <h2>
        Terminology
    </h2>
        <p>
            This specification uses the following prefixes to shorten the URIs for readability.

        <table id="table-namespaces" class="simple">
            <thead><tr><th>Prefix</th><th>Namespace IRI</th></tr></thead>
            <tbody>
            <tr><td><code>cv</code></td><td><code>http://data.europa.eu/m8g/</code></td></tr>
            <tr><td><code>dct</code></td><td><code>http://purl.org/dc/terms/</code></td></tr>
            <tr><td><code>dpv</code></td><td><code>https://w3id.org/dpv/</code></td></tr>
			<tr><td><code>ex</code></td><td><code>http://example.org/</code></td></tr>
            <tr><td><code>foaf</code></td><td><code>http://xmlns.com/foaf/0.1/</code></td></tr>
            <tr><td><code>legal</code></td><td><code>http://www.w3.org/ns/legal#</code></td></tr>
			<tr><td><code>locn</code></td><td><code>http://www.w3.org/ns/locn#</code></td></tr>
			<tr><td><code>person</code></td><td><code>http://www.w3.org/ns/person#</code></td></tr>
            <tr><td><code>rdf</code></td><td><code>http://www.w3.org/1999/02/22-rdf-syntax-ns#</code></td></tr>
            <tr><td><code>rdfs</code></td><td><code>http://www.w3.org/2000/01/rdf-schema#</code></td></tr>
            <tr><td><code>skos</code></td><td><code>http://www.w3.org/2004/02/skos/core#</code></td></tr>
			<tr><td><code>time</code></td><td><code>http://www.w3.org/2006/time#</code></td></tr>
            <tr><td><code>xsd</code></td><td><code>http://www.w3.org/2001/XMLSchema#</code></td></tr>
            </tbody>
        </table>

        </p>
</section>


{% endblock %}
